openapi: 3.2.0
info:
  title: Platform NY Retailer API
  description: Welcome to the Nabis Platform API
  version: '2.0'
  contact:
    email: help@nabis.com
  x-source-note: Reassembled verbatim from the per-operation OpenAPI objects Nabis publishes in the build assets of developers.nabis.com/v2 (docusaurus-plugin-openapi-docs frontmatter). Nabis serves no single openapi.json/yaml file; every field here — paths, operationIds, parameters, response schemas, servers, securitySchemes, info — is the provider's own published spec content, not authored by API Evangelist.
servers:
- url: https://platform-api.nabis.pro
  description: Nabis Platform API v2 production host
security:
- x-nabis-access-token: []
tags:
- name: NY Retailer
paths:
  /v2/ny/retailer:
    get:
      operationId: NYRetailerController_getNyRetailers
      description: Please reach out to partnerships@nabis.com for information on API access.
      tags:
      - NY Retailer
      parameters:
      - name: page
        required: true
        in: query
        schema:
          default: 0
          type: number
      - name: limit
        required: true
        in: query
        schema:
          minimum: 1
          maximum: 500
          type: number
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    description: System-generated UUID to identify retailer
                  name:
                    type: string
                    description: The name of the retailer
                  doingBusinessAs:
                    type:
                    - string
                    - 'null'
                    description: The d/b/a of the retailer (if applicable)
                  address1:
                    type: string
                    description: The first line of the address for the retailer
                  address2:
                    type:
                    - string
                    - 'null'
                    description: The second line of the address for the retailer
                  city:
                    type: string
                    description: The city of the retailer
                  state:
                    type: string
                    description: The US state of the retailer
                  zip:
                    type: string
                    description: The zipcode of the retailer
                  parentOrganizationName:
                    type:
                    - string
                    - 'null'
                    description: Field does not exist in NY system. Always returns null for CA compatibility.
                  parentOrganizationId:
                    type:
                    - string
                    - 'null'
                    description: Field does not exist in NY system. Always returns null for CA compatibility.
                  sellerPermitLink:
                    type:
                    - string
                    - 'null'
                    description: Field does not exist in NY system. Always returns null for CA compatibility.
                  territoryDescription:
                    type:
                    - string
                    - 'null'
                    description: Field does not exist in NY system. Always returns null for CA compatibility.
                  territoryRegionNumber:
                    type:
                    - number
                    - 'null'
                    description: Field does not exist in NY system. Always returns null for CA compatibility.
                  isOnMarketplace:
                    type:
                    - string
                    - 'null'
                    description: Field does not exist in NY system. Always returns true for CA compatibility.
                  creditRating:
                    type: string
                    description: Field does not exist in NY system. Always returns NOT_APPLICABLE for CA compatibility.
                  previousCreditRating:
                    type: string
                    description: Field does not exist in NY system. Always returns NOT_APPLICABLE for CA compatibility.
                  previousCreditRatingDate:
                    type:
                    - string
                    - 'null'
                    description: Field does not exist in NY system. Always returns null for CA compatibility.
                  isArchived:
                    type:
                    - string
                    - 'null'
                    description: Field does not exist in NY system. Always returns false for CA compatibility.
                  w9Link:
                    type:
                    - string
                    - 'null'
                    description: Field does not exist in NY system. Always returns null for CA compatibility.
                required:
                - id
                - name
                - doingBusinessAs
                - address1
                - address2
                - city
                - state
                - zip
                - parentOrganizationName
                - parentOrganizationId
                - sellerPermitLink
                - territoryDescription
                - territoryRegionNumber
                - isOnMarketplace
                - creditRating
                - previousCreditRating
                - previousCreditRatingDate
                - isArchived
                - w9Link
        '400':
          description: Bad Request Exception
        '401':
          description: Invalid API key
        '429':
          description: Too Many Requests
      security:
      - x-nabis-access-token: []
  /v2/ny/retailer/{id}:
    get:
      operationId: NYRetailerController_getNyRetailer
      description: Please reach out to partnerships@nabis.com for information on API access.
      tags:
      - NY Retailer
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    description: System-generated UUID to identify retailer
                  name:
                    type: string
                    description: The name of the retailer
                  doingBusinessAs:
                    type:
                    - string
                    - 'null'
                    description: The d/b/a of the retailer (if applicable)
                  address1:
                    type: string
                    description: The first line of the address for the retailer
                  address2:
                    type:
                    - string
                    - 'null'
                    description: The second line of the address for the retailer
                  city:
                    type: string
                    description: The city of the retailer
                  state:
                    type: string
                    description: The US state of the retailer
                  zip:
                    type: string
                    description: The zipcode of the retailer
                  parentOrganizationName:
                    type:
                    - string
                    - 'null'
                    description: Field does not exist in NY system. Always returns null for CA compatibility.
                  parentOrganizationId:
                    type:
                    - string
                    - 'null'
                    description: Field does not exist in NY system. Always returns null for CA compatibility.
                  sellerPermitLink:
                    type:
                    - string
                    - 'null'
                    description: Field does not exist in NY system. Always returns null for CA compatibility.
                  territoryDescription:
                    type:
                    - string
                    - 'null'
                    description: Field does not exist in NY system. Always returns null for CA compatibility.
                  territoryRegionNumber:
                    type:
                    - number
                    - 'null'
                    description: Field does not exist in NY system. Always returns null for CA compatibility.
                  isOnMarketplace:
                    type:
                    - string
                    - 'null'
                    description: Field does not exist in NY system. Always returns true for CA compatibility.
                  creditRating:
                    type: string
                    description: Field does not exist in NY system. Always returns NOT_APPLICABLE for CA compatibility.
                  previousCreditRating:
                    type: string
                    description: Field does not exist in NY system. Always returns NOT_APPLICABLE for CA compatibility.
                  previousCreditRatingDate:
                    type:
                    - string
                    - 'null'
                    description: Field does not exist in NY system. Always returns null for CA compatibility.
                  isArchived:
                    type:
                    - string
                    - 'null'
                    description: Field does not exist in NY system. Always returns false for CA compatibility.
                  w9Link:
                    type:
                    - string
                    - 'null'
                    description: Field does not exist in NY system. Always returns null for CA compatibility.
                  taxIdentificationNumber:
                    type:
                    - string
                    - 'null'
                    description: The retailer's tax identification number
                  licenses:
                    description: List of the retailer's licenses
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The Nabis ID of the license
                        type:
                          type: string
                          description: The retailer license type (`TESTING`, `MICROBUSINESS`, `CULTIVATOR`, `DISTRIBUTOR`, `DISTRIBUTOR_TRANSPORT_ONLY`, `MANUFACTURER`, `CANNABIS_EVENTS`, `RETAILER`, `RETAILER_NONSTOREFRONT`)
                        number:
                          type: string
                          description: The license number currently associated with the retailer
                        issuanceDate:
                          type: string
                          description: The issuance date of the license in ISO8601 format (`YYYY-MM-DD`)
                        expirationDate:
                          type: string
                          description: The expiration date of the license in ISO8601 format (`YYYY-MM-DD`)
                      required:
                      - id
                      - type
                      - number
                      - issuanceDate
                      - expirationDate
                required:
                - id
                - name
                - doingBusinessAs
                - address1
                - address2
                - city
                - state
                - zip
                - parentOrganizationName
                - parentOrganizationId
                - sellerPermitLink
                - territoryDescription
                - territoryRegionNumber
                - isOnMarketplace
                - creditRating
                - previousCreditRating
                - previousCreditRatingDate
                - isArchived
                - w9Link
                - taxIdentificationNumber
                - licenses
        '401':
          description: Invalid API key
        '404':
          description: Record not found
        '429':
          description: Too Many Requests
      security:
      - x-nabis-access-token: []
components:
  securitySchemes:
    x-nabis-access-token:
      type: apiKey
      in: header
      name: x-nabis-access-token
