openapi: 3.2.0
info:
  title: Platform Inventory History API
  description: Welcome to the Nabis Platform API
  version: '2.0'
  contact:
    email: help@nabis.com
  x-source-note: Reassembled verbatim from the per-operation OpenAPI objects Nabis publishes in the build assets of developers.nabis.com/v2 (docusaurus-plugin-openapi-docs frontmatter). Nabis serves no single openapi.json/yaml file; every field here — paths, operationIds, parameters, response schemas, servers, securitySchemes, info — is the provider's own published spec content, not authored by API Evangelist.
servers:
- url: https://platform-api.nabis.pro
  description: Nabis Platform API v2 production host
security:
- x-nabis-access-token: []
tags:
- name: Inventory History
paths:
  /v2/inventory-history/sku-batch/{skuBatchId}:
    get:
      operationId: InventoryHistoryController_getInventoryHistoryForSkuBatch
      description: Get by Nabis skuBatchId
      tags:
      - Inventory History
      parameters:
      - name: skuBatchId
        required: true
        in: path
        schema:
          type: string
      - name: page
        required: true
        in: query
        schema:
          default: 0
          type: number
      - name: limit
        required: true
        in: query
        schema:
          minimum: 1
          maximum: 500
          type: number
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  skuBatchId:
                    type: string
                    format: uuid
                    description: The Nabis internal ID for the batch
                  skuCode:
                    type: string
                    description: The parent SKU code
                  skuName:
                    type:
                    - string
                    - 'null'
                    description: The parent SKU name
                  snapshotDate:
                    type: string
                    format: date
                    example: '2022-04-20'
                    description: The date of the inventory snapshot
                  incoming:
                    type: number
                    format: number
                    description: Total number of incoming units
                  outgoing:
                    type: number
                    format: number
                    description: Total number of outgoing units
                  available:
                    type: number
                    format: number
                    description: Total number of available units
                  counted:
                    type: number
                    format: number
                    description: Total counted units
                  quarantined:
                    type: number
                    format: number
                    description: Total number of quarantined units
                  packed:
                    type: number
                    format: number
                    description: Total number of packed units
                required:
                - skuBatchId
                - skuCode
                - skuName
                - snapshotDate
                - incoming
                - outgoing
                - available
                - counted
                - quarantined
                - packed
        '401':
          description: Invalid API key
        '429':
          description: Too Many Requests
      security:
      - x-nabis-access-token: []
  /v2/inventory-history/snapshot-date/{snapshotDate}:
    get:
      operationId: InventoryHistoryController_getInventoryHistoryForSnapshotDate
      description: Get by Snapshot Date
      tags:
      - Inventory History
      parameters:
      - name: snapshotDate
        required: true
        in: path
        schema:
          type: string
      - name: page
        required: true
        in: query
        schema:
          default: 0
          type: number
      - name: limit
        required: true
        in: query
        schema:
          minimum: 1
          maximum: 500
          type: number
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  skuBatchId:
                    type: string
                    format: uuid
                    description: The Nabis internal ID for the batch
                  skuCode:
                    type: string
                    description: The parent SKU code
                  skuName:
                    type:
                    - string
                    - 'null'
                    description: The parent SKU name
                  snapshotDate:
                    type: string
                    format: date
                    example: '2022-04-20'
                    description: The date of the inventory snapshot
                  incoming:
                    type: number
                    format: number
                    description: Total number of incoming units
                  outgoing:
                    type: number
                    format: number
                    description: Total number of outgoing units
                  available:
                    type: number
                    format: number
                    description: Total number of available units
                  counted:
                    type: number
                    format: number
                    description: Total counted units
                  quarantined:
                    type: number
                    format: number
                    description: Total number of quarantined units
                  packed:
                    type: number
                    format: number
                    description: Total number of packed units
                required:
                - skuBatchId
                - skuCode
                - skuName
                - snapshotDate
                - incoming
                - outgoing
                - available
                - counted
                - quarantined
                - packed
        '400':
          description: 'Invalid ISO8601 date provided for snapshot date. Format: `YYYY-MM-DD`. Example: `2022-04-20`'
        '401':
          description: Invalid API key
        '429':
          description: Too Many Requests
      security:
      - x-nabis-access-token: []
components:
  securitySchemes:
    x-nabis-access-token:
      type: apiKey
      in: header
      name: x-nabis-access-token
