openapi: 3.2.0
info:
  title: Platform NY Inventory API
  description: Welcome to the Nabis Platform API
  version: '2.0'
  contact:
    email: help@nabis.com
  x-source-note: Reassembled verbatim from the per-operation OpenAPI objects Nabis publishes in the build assets of developers.nabis.com/v2 (docusaurus-plugin-openapi-docs frontmatter). Nabis serves no single openapi.json/yaml file; every field here — paths, operationIds, parameters, response schemas, servers, securitySchemes, info — is the provider's own published spec content, not authored by API Evangelist.
servers:
- url: https://platform-api.nabis.pro
  description: Nabis Platform API v2 production host
security:
- x-nabis-access-token: []
tags:
- name: NY Inventory
paths:
  /v2/ny/inventory:
    get:
      operationId: NYInventoryController_getNyInventory
      description: Please reach out to partnerships@nabis.com for information on API access.
      tags:
      - NY Inventory
      parameters:
      - name: page
        required: true
        in: query
        schema:
          default: 0
          type: number
      - name: limit
        required: true
        in: query
        schema:
          minimum: 1
          maximum: 500
          type: number
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  skuCode:
                    type: string
                    description: Brand-input code for inventory item, typically used for internal brand system mapping
                  skuName:
                    type: string
                    description: Listed name of inventory item on order documentation, remains consistent across batches
                  batchCode:
                    type: string
                    description: Brand-input code for inventory item batch
                  skuUnit:
                    type:
                    - string
                    - 'null'
                    description: Description of the item's unit characteristics (i.e., 6-pack)
                  skuPricePerUnit:
                    type: number
                    description: The unit price of each unit in the case.
                  batchExpirationDate:
                    type: string
                    format: date
                    description: Date upon which a product's COA has lapsed; re-testing or destruction is required at this point
                  skuBatchLastUpdatedDate:
                    type: string
                    format: date
                    description: Most recent date upon which sku batch details were adjusted
                  batchManufacturingDate:
                    type: string
                    format: date
                    description: Date upon which batch was manufactured
                  batchLicenseNumber:
                    type: string
                    description: Batch License Number
                  skuInventoryType:
                    type: string
                    description: If the SKU is cannabis or non-cannabis
                  skuInventoryClass:
                    type: string
                    description: General classification of an SKU's characteristics (i.e., edible)
                  skuInventoryCategory:
                    type: string
                    description: Specific categorization of an SKU's characteristics (i.e., gummy, chocolate, etc.)
                  batchCbdPercentage:
                    type:
                    - number
                    - 'null'
                    description: '% CBD value of batch'
                  batchThcPercentage:
                    type:
                    - number
                    - 'null'
                    description: '% THC value of batch'
                  batchThcWeight:
                    type:
                    - number
                    - 'null'
                    description: THC weight value (mg) of batch
                  batchCbdWeight:
                    type:
                    - number
                    - 'null'
                    description: CBD weight value (mg) of batch
                  skuStrainType:
                    type:
                    - string
                    - 'null'
                    description: Strain characteristics of inventory item
                  skuBatchId:
                    type: string
                    format: uuid
                    description: Nabis UUID identifier for sku + batch
                  skuCasePackSize:
                    type: number
                    description: The number of eaches in a case
                  skuTotalPrice:
                    type: number
                    description: The total price of the SKU (`skuPricePerUnit * skuCasePackSize`)
                  skuId:
                    type: string
                    format: uuid
                    description: Nabis UUID identifier for the product
                  availableOnMarketplace:
                    type: boolean
                    description: Indicates whether the item is available for purchase on the Nabis Marketplace
                  deletedAt:
                    type:
                    - string
                    - 'null'
                    description: The deleted at timestamp indicating the product has been deleted from the Nabis system. If null, the product is active.
                  isMedical:
                    type: boolean
                    description: Indicates if the item is marked as a medical product in the Nabis system.
                  licenseNickname:
                    type: string
                    description: The nickname associated to the license that is associated to the SKU
                  batchThcAPercentage:
                    type: number
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  batchThcAWeight:
                    type: number
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  batchOtherCannabinoidWeight:
                    type: number
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  batchOtherCannabinoidPercentage:
                    type: number
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  batchTags:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  batchAromas:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuIsSample:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuTags:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuBatchDaysAtNabis:
                    type: number
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  avgWeeklyQuantityOrderedPast4Weeks:
                    type: number
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  avgWeeklyQuantityDeliveredPast4Weeks:
                    type: number
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuDisplayName:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuProductLine:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuBrandName:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuUnitsPerEach:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuConsumableUnitsPerEach:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuEachUnitOfMeasure:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuThcPotencyMeasurementType:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuContainerType:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuIsColdStorage:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuTHC:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuCBD:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuCBG:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuCBN:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuTHCV:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuCBC:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuDelta8THC:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuCBDV:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuTHCA:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuCBDA:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuCBNA:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuCBCA:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuTHCVA:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuCBDVA:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuDelta10THC:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuDelta9THC:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuThcPotencyMg:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuThcPotencyPercentage:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuCannabinoidTypeA:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuCannabinoidTypeB:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  warehouseCounts:
                    description: Warehouse Counts. Note that these inventory counts are not real-time and could have a delay in them between our core platform and this API. For more information, please visit the Inventory Quantities page for more detail.
                    type: array
                    items:
                      type: object
                      properties:
                        incoming:
                          type: number
                          format: number
                          description: Corresponding inventory counts based on warehouse location
                        outgoing:
                          type: number
                          format: number
                          description: Corresponding inventory counts based on warehouse location
                        available:
                          type: number
                          format: number
                          description: Corresponding inventory counts based on warehouse location
                        counted:
                          type: number
                          format: number
                          description: Corresponding inventory counts based on warehouse location
                        quarantined:
                          type: number
                          format: number
                          description: Corresponding inventory counts based on warehouse location
                        packed:
                          type: number
                          format: number
                          description: Corresponding inventory counts based on warehouse location
                        updatedAt:
                          type:
                          - string
                          - 'null'
                          format: date-time
                          example: '2022-04-20T21:20:00.000Z'
                          description: The last updated made when a difference was detected in between our cached inventory data and our warehouse inventory system.
                        warehouseId:
                          type: string
                          format: uuid
                          description: Nabis warehouse of origination
                      required:
                      - incoming
                      - outgoing
                      - available
                      - counted
                      - quarantined
                      - packed
                      - updatedAt
                      - warehouseId
                required:
                - skuCode
                - skuName
                - batchCode
                - skuUnit
                - skuPricePerUnit
                - batchExpirationDate
                - skuBatchLastUpdatedDate
                - batchManufacturingDate
                - batchLicenseNumber
                - skuInventoryType
                - skuInventoryClass
                - skuInventoryCategory
                - batchCbdPercentage
                - batchThcPercentage
                - batchThcWeight
                - batchCbdWeight
                - skuStrainType
                - skuBatchId
                - skuCasePackSize
                - skuTotalPrice
                - skuId
                - availableOnMarketplace
                - deletedAt
                - isMedical
                - licenseNickname
                - batchThcAPercentage
                - batchThcAWeight
                - batchOtherCannabinoidWeight
                - batchOtherCannabinoidPercentage
                - batchTags
                - batchAromas
                - skuIsSample
                - skuTags
                - skuBatchDaysAtNabis
                - avgWeeklyQuantityOrderedPast4Weeks
                - avgWeeklyQuantityDeliveredPast4Weeks
                - skuDisplayName
                - skuProductLine
                - skuBrandName
                - skuUnitsPerEach
                - skuConsumableUnitsPerEach
                - skuEachUnitOfMeasure
                - skuThcPotencyMeasurementType
                - skuContainerType
                - skuIsColdStorage
                - skuTHC
                - skuCBD
                - skuCBG
                - skuCBN
                - skuTHCV
                - skuCBC
                - skuDelta8THC
                - skuCBDV
                - skuTHCA
                - skuCBDA
                - skuCBNA
                - skuCBCA
                - skuTHCVA
                - skuCBDVA
                - skuDelta10THC
                - skuDelta9THC
                - skuThcPotencyMg
                - skuThcPotencyPercentage
                - skuCannabinoidTypeA
                - skuCannabinoidTypeB
                - warehouseCounts
        '400':
          description: 'Invalid ISO8601 date provided for snapshot date. Format: `YYYY-MM-DD`. Example: `2022-04-20`'
        '401':
          description: Invalid API key
        '429':
          description: Too Many Requests
      security:
      - x-nabis-access-token: []
  /v2/ny/inventory/aggregate:
    get:
      operationId: NYInventoryController_getNyInventoryAggregate
      description: Displays inventory quantities across Nabis warehouses instead of within specific warehouses. Please reach out to partnerships@nabis.com for information on API access.
      tags:
      - NY Inventory
      parameters:
      - name: page
        required: true
        in: query
        schema:
          default: 0
          type: number
      - name: limit
        required: true
        in: query
        schema:
          minimum: 1
          maximum: 500
          type: number
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  skuCode:
                    type: string
                    description: Brand-input code for inventory item, typically used for internal brand system mapping
                  skuName:
                    type: string
                    description: Listed name of inventory item on order documentation, remains consistent across batches
                  batchCode:
                    type: string
                    description: Brand-input code for inventory item batch
                  skuUnit:
                    type:
                    - string
                    - 'null'
                    description: Description of the item's unit characteristics (i.e., 6-pack)
                  skuPricePerUnit:
                    type: number
                    description: The unit price of each unit in the case.
                  batchExpirationDate:
                    type: string
                    format: date
                    description: Date upon which a product's COA has lapsed; re-testing or destruction is required at this point
                  skuBatchLastUpdatedDate:
                    type: string
                    format: date
                    description: Most recent date upon which sku batch details were adjusted
                  batchManufacturingDate:
                    type: string
                    format: date
                    description: Date upon which batch was manufactured
                  batchLicenseNumber:
                    type: string
                    description: Batch License Number
                  skuInventoryType:
                    type: string
                    description: If the SKU is cannabis or non-cannabis
                  skuInventoryClass:
                    type: string
                    description: General classification of an SKU's characteristics (i.e., edible)
                  skuInventoryCategory:
                    type: string
                    description: Specific categorization of an SKU's characteristics (i.e., gummy, chocolate, etc.)
                  batchCbdPercentage:
                    type:
                    - number
                    - 'null'
                    description: '% CBD value of batch'
                  batchThcPercentage:
                    type:
                    - number
                    - 'null'
                    description: '% THC value of batch'
                  batchThcWeight:
                    type:
                    - number
                    - 'null'
                    description: THC weight value (mg) of batch
                  batchCbdWeight:
                    type:
                    - number
                    - 'null'
                    description: CBD weight value (mg) of batch
                  skuStrainType:
                    type:
                    - string
                    - 'null'
                    description: Strain characteristics of inventory item
                  skuBatchId:
                    type: string
                    format: uuid
                    description: Nabis UUID identifier for sku + batch
                  skuCasePackSize:
                    type: number
                    description: The number of eaches in a case
                  skuTotalPrice:
                    type: number
                    description: The total price of the SKU (`skuPricePerUnit * skuCasePackSize`)
                  skuId:
                    type: string
                    format: uuid
                    description: Nabis UUID identifier for the product
                  availableOnMarketplace:
                    type: boolean
                    description: Indicates whether the item is available for purchase on the Nabis Marketplace
                  deletedAt:
                    type:
                    - string
                    - 'null'
                    description: The deleted at timestamp indicating the product has been deleted from the Nabis system. If null, the product is active.
                  isMedical:
                    type: boolean
                    description: Indicates if the item is marked as a medical product in the Nabis system.
                  licenseNickname:
                    type: string
                    description: The nickname associated to the license that is associated to the SKU
                  inventory:
                    description: Inventory Counts aggregated over warehouses. Note that these inventory counts are not real-time and could have a delay in them between our core platform and this API. For more information, please visit the Inventory Quantities page for more detail.
                    type: array
                    items:
                      type: object
                      properties:
                        outgoingQuantity:
                          type: number
                          format: number
                          description: Count for all open orders + orders in the fulfillment process
                        openOrderQuantity:
                          type: number
                          format: number
                          description: Count for all open orders
                        inFulfillmentProcessQuantity:
                          type: number
                          format: number
                          description: Count for all orders currently in the fulfillment process
                        incomingQuantity:
                          type: number
                          format: number
                          description: Count for all orders inbound to Nabis warehouses (i.e., open POs)
                        availableQuantity:
                          type: number
                          format: number
                          description: Count for inventory available to sell through the platform
                        quarantinedQuantity:
                          type: number
                          format: number
                          description: Count for inventory that is quarantined and not available to sell through the platform
                        updatedAt:
                          type:
                          - string
                          - 'null'
                          format: date-time
                          example: '2022-04-20T21:20:00.000Z'
                          description: The last updated made when a difference was detected in between our cached inventory data and our warehouse inventory system.
                      required:
                      - outgoingQuantity
                      - openOrderQuantity
                      - inFulfillmentProcessQuantity
                      - incomingQuantity
                      - availableQuantity
                      - quarantinedQuantity
                      - updatedAt
                required:
                - skuCode
                - skuName
                - batchCode
                - skuUnit
                - skuPricePerUnit
                - batchExpirationDate
                - skuBatchLastUpdatedDate
                - batchManufacturingDate
                - batchLicenseNumber
                - skuInventoryType
                - skuInventoryClass
                - skuInventoryCategory
                - batchCbdPercentage
                - batchThcPercentage
                - batchThcWeight
                - batchCbdWeight
                - skuStrainType
                - skuBatchId
                - skuCasePackSize
                - skuTotalPrice
                - skuId
                - availableOnMarketplace
                - deletedAt
                - isMedical
                - licenseNickname
                - inventory
        '400':
          description: 'Invalid ISO8601 date provided for snapshot date. Format: `YYYY-MM-DD`. Example: `2022-04-20`'
        '401':
          description: Invalid API key
        '429':
          description: Too Many Requests
      security:
      - x-nabis-access-token: []
  /v2/ny/inventory/{itemCode}:
    get:
      operationId: NYInventoryController_getNyInventoryByItemCode
      description: Please reach out to partnerships@nabis.com for information on API access.
      tags:
      - NY Inventory
      parameters:
      - name: itemCode
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  skuCode:
                    type: string
                    description: Brand-input code for inventory item, typically used for internal brand system mapping
                  skuName:
                    type: string
                    description: Listed name of inventory item on order documentation, remains consistent across batches
                  batchCode:
                    type: string
                    description: Brand-input code for inventory item batch
                  skuUnit:
                    type:
                    - string
                    - 'null'
                    description: Description of the item's unit characteristics (i.e., 6-pack)
                  skuPricePerUnit:
                    type: number
                    description: The unit price of each unit in the case.
                  batchExpirationDate:
                    type: string
                    format: date
                    description: Date upon which a product's COA has lapsed; re-testing or destruction is required at this point
                  skuBatchLastUpdatedDate:
                    type: string
                    format: date
                    description: Most recent date upon which sku batch details were adjusted
                  batchManufacturingDate:
                    type: string
                    format: date
                    description: Date upon which batch was manufactured
                  batchLicenseNumber:
                    type: string
                    description: Batch License Number
                  skuInventoryType:
                    type: string
                    description: If the SKU is cannabis or non-cannabis
                  skuInventoryClass:
                    type: string
                    description: General classification of an SKU's characteristics (i.e., edible)
                  skuInventoryCategory:
                    type: string
                    description: Specific categorization of an SKU's characteristics (i.e., gummy, chocolate, etc.)
                  batchCbdPercentage:
                    type:
                    - number
                    - 'null'
                    description: '% CBD value of batch'
                  batchThcPercentage:
                    type:
                    - number
                    - 'null'
                    description: '% THC value of batch'
                  batchThcWeight:
                    type:
                    - number
                    - 'null'
                    description: THC weight value (mg) of batch
                  batchCbdWeight:
                    type:
                    - number
                    - 'null'
                    description: CBD weight value (mg) of batch
                  skuStrainType:
                    type:
                    - string
                    - 'null'
                    description: Strain characteristics of inventory item
                  skuBatchId:
                    type: string
                    format: uuid
                    description: Nabis UUID identifier for sku + batch
                  skuCasePackSize:
                    type: number
                    description: The number of eaches in a case
                  skuTotalPrice:
                    type: number
                    description: The total price of the SKU (`skuPricePerUnit * skuCasePackSize`)
                  skuId:
                    type: string
                    format: uuid
                    description: Nabis UUID identifier for the product
                  availableOnMarketplace:
                    type: boolean
                    description: Indicates whether the item is available for purchase on the Nabis Marketplace
                  deletedAt:
                    type:
                    - string
                    - 'null'
                    description: The deleted at timestamp indicating the product has been deleted from the Nabis system. If null, the product is active.
                  isMedical:
                    type: boolean
                    description: Indicates if the item is marked as a medical product in the Nabis system.
                  licenseNickname:
                    type: string
                    description: The nickname associated to the license that is associated to the SKU
                  batchThcAPercentage:
                    type: number
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  batchThcAWeight:
                    type: number
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  batchOtherCannabinoidWeight:
                    type: number
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  batchOtherCannabinoidPercentage:
                    type: number
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  batchTags:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  batchAromas:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuIsSample:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuTags:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuBatchDaysAtNabis:
                    type: number
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  avgWeeklyQuantityOrderedPast4Weeks:
                    type: number
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  avgWeeklyQuantityDeliveredPast4Weeks:
                    type: number
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuDisplayName:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuProductLine:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuBrandName:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuUnitsPerEach:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuConsumableUnitsPerEach:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuEachUnitOfMeasure:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuThcPotencyMeasurementType:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuContainerType:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuIsColdStorage:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuTHC:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuCBD:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuCBG:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuCBN:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuTHCV:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuCBC:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuDelta8THC:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuCBDV:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuTHCA:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuCBDA:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuCBNA:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuCBCA:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuTHCVA:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuCBDVA:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuDelta10THC:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuDelta9THC:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuThcPotencyMg:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuThcPotencyPercentage:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuCannabinoidTypeA:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  skuCannabinoidTypeB:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA compatibility.
                  warehouseCounts:
                    description: Warehouse Counts. Note that these inventory counts are not real-time and could have a delay in them between our core platform and this API. For more information, please visit the Inventory Quantities page for more detail.
                    type: array
                    items:
                      type: object
                      properties:
                        incoming:
                          type: number
                          format: number
                          description: Corresponding inventory counts based on warehouse location
                        outgoing:
                          type: number
                          format: number
                          description: Corresponding inventory counts based on warehouse location
                        available:
                          type: number
                          format: number
                          description: Corresponding inventory counts based on warehouse location
                        counted:
                          type: number
                          format: number
                          description: Corresponding inventory counts based on warehouse location
                        quarantined:
                          type: number
                          format: number
                          description: Corresponding inventory counts based on warehouse location
                        packed:
                          type: number
                          format: number
                          description: Corresponding inventory counts based on warehouse location
                        updatedAt:
                          type:
                          - string
                          - 'null'
                          format: date-time
                          example: '2022-04-20T21:20:00.000Z'
                          description: The last updated made when a difference was detected in between our cached inventory data and our warehouse inventory system.
                        warehouseId:
                          type: string
                          format: uuid
                          description: Nabis warehouse of origination
                      required:
                      - incoming
                      - outgoing
                      - available
                      - counted
                      - quarantined
                      - packed
                      - updatedAt
                      - warehouseId
                required:
                - skuCode
                - skuName
                - batchCode
                - skuUnit
                - skuPricePerUnit
                - batchExpirationDate
                - skuBatchLastUpdatedDate
                - batchManufacturingDate
                - batchLicenseNumber
                - skuInventoryType
                - skuInventoryClass
                - skuInventoryCategory
                - batchCbdPercentage
                - batchThcPercentage
                - batchThcWeight
                - batchCbdWeight
                - skuStrainType
                - skuBatchId
                - skuCasePackSize
                - skuTotalPrice
                - skuId
                - availableOnMarketplace
                - deletedAt
                - isMedical
                - licenseNickname
                - batchThcAPercentage
                - batchThcAWeight
                - batchOtherCannabinoidWeight
                - batchOtherCannabinoidPercentage
                - batchTags
                - batchAromas
                - skuIsSample
                - skuTags
                - skuBatchDaysAtNabis
                - avgWeeklyQuantityOrderedPast4Weeks
                - avgWeeklyQuantityDeliveredPast4Weeks
                - skuDisplayName
                - skuProductLine
                - skuBrandName
                - skuUnitsPerEach
                - skuConsumableUnitsPerEach
                - skuEachUnitOfMeasure
                - skuThcPotencyMeasurementType
                - skuContainerType
                - skuIsColdStorage
                - skuTHC
                - skuCBD
                - skuCBG
                - skuCBN
                - skuTHCV
                - skuCBC
                - skuDelta8THC
                - skuCBDV
                - skuTHCA
                - skuCBDA
                - skuCBNA
                - skuCBCA
                - skuTHCVA
                - skuCBDVA
                - skuDelta10THC
                - skuDelta9THC
                - skuThcPotencyMg
                - skuThcPotencyPercentage
                - skuCannabinoidTypeA
                - skuCannabinoidTypeB
                - warehouseCounts
        '401':
          description: Invalid API key
        '429':
          description: Too Many Requests
      security:
      - x-nabis-access-token: []
components:
  securitySchemes:
    x-nabis-access-token:
      type: apiKey
      in: header
      name: x-nabis-access-token
