openapi: 3.0.0
info:
  title: Platform API
  description: Welcome to the Nabis Platform API
  version: '2.0'
  contact:
    email: help@nabis.com
  x-source-note: Reassembled verbatim from the per-operation OpenAPI objects Nabis publishes in the build
    assets of developers.nabis.com/v2 (docusaurus-plugin-openapi-docs frontmatter). Nabis serves no single
    openapi.json/yaml file; every field here — paths, operationIds, parameters, response schemas, servers,
    securitySchemes, info — is the provider's own published spec content, not authored by API Evangelist.
servers:
- url: https://platform-api.nabis.pro
  description: Nabis Platform API v2 production host
tags:
- name: Inventory
- name: Inventory History
- name: Invoice
- name: NabisDaysOff
- name: Order
- name: Universal Cannabis Labeling
- name: Warehouses
- name: NY Inventory
- name: NY Invoice
- name: NY Order
- name: NY Retailer
- name: NYWarehouse
- name: Retailer
paths:
  /ucapi/.well-known/cannabis-api.json:
    get:
      operationId: UniversalCannabisApiController_wellKnown
      description: Get Well Known
      tags:
      - Universal Cannabis Labeling
      parameters: []
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  endpoint:
                    type: string
                    description: The root endpoint for all other endpoints in this document
                  path-components:
                    type: string
                    description: The path components for each of the endpoints
                  vendor:
                    type: string
                    description: The vendor for the universal cannabis api endpoint. Always Nabis
                required:
                - endpoint
                - path-components
                - vendor
        '401':
          description: Invalid API key
        '429':
          description: Too Many Requests
  /ucapi/manifest/{orderId}:
    get:
      operationId: UniversalCannabisApiController_getManifest
      description: Get details from an order describing child package to QR code url mappings
      tags:
      - Universal Cannabis Labeling
      parameters:
      - name: orderId
        required: true
        in: path
        description: Order Identifier
        schema:
          format: uuid
          type: string
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  regulatorEvent:
                    description: The transfer id if applicable
                    nullable: false
                    allOf:
                    - type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: Regulator ID
                        kind:
                          type: string
                          format: uuid
                          description: Always the string "manifest"
                      required:
                      - id
                      - kind
                  contents:
                    type: string
                    description: An array of QR codes which represent all scanned cases or items
                required:
                - regulatorEvent
                - contents
        '401':
          description: Invalid API key
        '404':
          description: Record not found
        '429':
          description: Too Many Requests
  /ucapi/order/{orderId}:
    get:
      operationId: UniversalCannabisApiController_getOrder
      description: Get details from an order
      tags:
      - Universal Cannabis Labeling
      parameters:
      - name: orderId
        required: true
        in: path
        description: Order Identifier
        schema:
          format: uuid
          type: string
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderId:
                    type: string
                    format: uuid
                    description: Order ID
                  deliveryDate:
                    type: string
                    format: date
                    example: '2022-04-20'
                    description: Delivery Date
                  fulfillmentDate:
                    type: string
                    format: date
                    example: '2022-04-20'
                    description: Fulfillment Date
                  licenseNumber:
                    type: string
                    format: date
                    example: '2022-04-20'
                    description: License Number
                  metrcManifestId:
                    type: number
                    format: number
                    description: Metric Manifest ID
                  lineItems:
                    description: Line Items
                    allOf:
                    - type: object
                      properties:
                        quantity:
                          type: number
                          format: number
                          description: Line item quantity ordered
                          nullable: false
                        pricePerUnit:
                          type: number
                          format: number
                          description: Line item $ price per unit
                          nullable: true
                        standardPricePerUnit:
                          type: number
                          format: number
                          description: The wholesale, un-discounted system unit price of a product from
                            the Inventory Tab at time of order creation
                          nullable: true
                        isExciseTaxable:
                          type: boolean
                          description: Line item is excise taxable
                          nullable: false
                        discount:
                          type: number
                          format: number
                          description: Line item discount amount
                          nullable: false
                      required:
                      - quantity
                      - pricePerUnit
                      - standardPricePerUnit
                      - isExciseTaxable
                      - discount
                required:
                - orderId
                - deliveryDate
                - fulfillmentDate
                - licenseNumber
                - metrcManifestId
                - lineItems
        '401':
          description: Invalid API key
        '404':
          description: Record not found
        '429':
          description: Too Many Requests
      security:
      - x-nabis-access-token: []
  /v2/inventory:
    get:
      operationId: InventoryController_getInventories
      description: Get Many Inventory (CA)
      tags:
      - Inventory
      parameters:
      - name: page
        required: true
        in: query
        schema:
          default: 0
          type: number
      - name: limit
        required: true
        in: query
        schema:
          minimum: 1
          maximum: 500
          type: number
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  skuCode:
                    type: string
                    description: Brand-input code for inventory item, typically used for internal brand
                      system mapping
                  skuName:
                    type: string
                    nullable: true
                    description: Listed name of inventory item on order documentation, remains consistent
                      across batches
                  batchCode:
                    type: string
                    description: Brand-input code for inventory item batch
                  skuUnit:
                    type: string
                    nullable: true
                    description: Description of the item's unit characteristics (i.e., 6-pack)
                  skuPricePerUnit:
                    type: number
                    format: number
                    nullable: true
                    description: The unit price of each unit in the case.
                  batchExpirationDate:
                    type: string
                    format: date
                    example: '2022-04-20'
                    description: Date upon which a product's COA has lapsed; re-testing or destruction
                      is required at this point
                  skuBatchLastUpdatedDate:
                    type: string
                    format: date
                    example: '2022-04-20'
                    nullable: true
                    description: Most recent date upon which sku batch details were adjusted
                  batchManufacturingDate:
                    type: string
                    format: date
                    example: '2022-04-20'
                    description: Date upon which batch was manufactured
                  batchLicenseNumber:
                    type: string
                    description: Batch License Number
                  skuInventoryType:
                    type: string
                    description: If the SKU is cannabis or non-cannabis
                  skuInventoryClass:
                    type: string
                    description: General classification of an SKU's characteristics (i.e., edible)
                  skuInventoryCategory:
                    type: string
                    description: Specific categorization of an SKU's characteristics (i.e., gummy, chocolate,
                      etc.)
                  batchCbdPercentage:
                    type: number
                    format: number
                    nullable: true
                    description: '% CBD value of batch'
                  batchThcPercentage:
                    type: number
                    format: number
                    nullable: true
                    description: '% THC value of batch'
                  batchTags:
                    description: Internal-facing batch tags, visible to brands and admins (not visible
                      on marketplace)
                    nullable: false
                    type: array
                    items:
                      type: string
                  skuTags:
                    description: Custom Classification Associated with an Item
                    nullable: false
                    type: array
                    items:
                      type: string
                  batchOtherCannabinoidPercentage:
                    type: number
                    format: number
                    nullable: true
                    description: '% Other Cannabinoid value of batch'
                  batchThcAPercentage:
                    type: number
                    format: number
                    nullable: true
                    description: '% THC-A value of batch'
                  batchThcWeight:
                    type: number
                    format: number
                    nullable: true
                    description: THC weight value (mg) of batch
                  batchCbdWeight:
                    type: number
                    format: number
                    nullable: true
                    description: CBD weight value (mg) of batch
                  batchOtherCannabinoidWeight:
                    type: number
                    format: number
                    nullable: true
                    description: Other Cannabinoid weight value (mg) of batch
                  batchThcAWeight:
                    type: number
                    format: number
                    nullable: true
                    description: THC-A weight value (mg) of batch
                  batchAromas:
                    description: Aroma characteristics of batch
                    nullable: false
                    type: array
                    items:
                      type: string
                  skuBatchDaysAtNabis:
                    type: number
                    format: number
                    nullable: true
                    description: The number of days a sku batch has been stored at Nabis since the intake
                      date
                  skuIsSample:
                    type: string
                    description: If the inventory item is set as a Sample by default
                    nullable: false
                  skuStrainType:
                    type: string
                    description: Strain characteristics of inventory item
                  warehouseCounts:
                    description: Warehouse Counts. Note that these inventory counts are not real-time
                      and could have a delay in them between our core platform and this API. For more
                      information, please visit the Inventory Quantities page for more detail.
                    nullable: false
                    type: array
                    items:
                      type: object
                      properties:
                        incoming:
                          type: number
                          format: number
                          description: Corresponding inventory counts based on warehouse location
                          nullable: false
                        outgoing:
                          type: number
                          format: number
                          description: Corresponding inventory counts based on warehouse location
                          nullable: false
                        available:
                          type: number
                          format: number
                          description: Corresponding inventory counts based on warehouse location
                          nullable: false
                        counted:
                          type: number
                          format: number
                          description: Corresponding inventory counts based on warehouse location
                          nullable: false
                        quarantined:
                          type: number
                          format: number
                          description: Corresponding inventory counts based on warehouse location
                          nullable: false
                        packed:
                          type: number
                          format: number
                          description: Corresponding inventory counts based on warehouse location
                          nullable: false
                        updatedAt:
                          type: string
                          format: date-time
                          example: '2022-04-20T21:20:00.000Z'
                          nullable: true
                          description: The last updated made when a difference was detected in between
                            our cached inventory data and our warehouse inventory system.
                        warehouseId:
                          type: string
                          format: uuid
                          description: Nabis warehouse of origination
                      required:
                      - incoming
                      - outgoing
                      - available
                      - counted
                      - quarantined
                      - packed
                      - updatedAt
                      - warehouseId
                  avgWeeklyQuantityOrderedPast4Weeks:
                    type: number
                    format: number
                    nullable: true
                    description: Average Weekly Quantity Ordered Past Four Weeks
                  avgWeeklyQuantityDeliveredPast4Weeks:
                    type: number
                    format: number
                    nullable: true
                    description: Average Weekly Quantity Delivered Past Four Weeks
                  skuBatchId:
                    type: string
                    format: uuid
                    description: Nabis UUID identifier for sku + batch
                  skuDisplayName:
                    type: string
                    description: The SKU's Marketplace display name
                    nullable: true
                  skuCasePackSize:
                    type: number
                    format: number
                    description: The number of eaches in a case
                  skuTotalPrice:
                    type: number
                    format: number
                    description: The total price of the SKU (`skuPricePerUnit * skuCasePackSize`)
                  skuProductLine:
                    type: string
                    description: Defines the product line for grouping similar items at the product level
                    nullable: true
                  skuBrandName:
                    type: string
                    description: The brand name of the product (distinct from DBA or Organization Name)
                    nullable: true
                  skuUnitsPerEach:
                    type: string
                    description: The number of units within a single "Each" (e.g., packs)
                    nullable: true
                  skuConsumableUnitsPerEach:
                    type: string
                    description: How many consumable units there are in an each when the each is a pack
                    nullable: true
                  skuEachUnitOfMeasure:
                    type: string
                    description: Specifies whether an "Each" is a single unit or a pack
                    nullable: true
                  skuThcPotencyMeasurementType:
                    type: string
                    description: The measurement type for THC potency (mg or percentage)
                    nullable: true
                  skuContainerType:
                    type: string
                    description: Describes the packaging type of the product
                    nullable: true
                  skuIsColdStorage:
                    type: string
                    description: Indicates whether the product requires cold storage. This service is
                      contractually negotiated with Nabis
                    nullable: true
                  skuTHC:
                    type: string
                    description: Dosage measurement for the THC cannabinoid type
                    nullable: true
                  skuCBD:
                    type: string
                    description: Dosage measurement for the CBD cannabinoid type
                    nullable: true
                  skuCBG:
                    type: string
                    description: Dosage measurement for the CBG cannabinoid type
                    nullable: true
                  skuCBN:
                    type: string
                    description: Dosage measurement for the CBN cannabinoid type
                    nullable: true
                  skuTHCV:
                    type: string
                    description: Dosage measurement for the THCV cannabinoid type
                    nullable: true
                  skuCBC:
                    type: string
                    description: Dosage measurement for the CBC cannabinoid type
                    nullable: true
                  skuDelta8THC:
                    type: string
                    description: Dosage measurement for the Delta-8 THC cannabinoid type
                    nullable: true
                  skuCBDV:
                    type: string
                    description: Dosage measurement for the CBDV cannabinoid type
                    nullable: true
                  skuTHCA:
                    type: string
                    description: Dosage measurement for the THCA cannabinoid type
                    nullable: true
                  skuCBDA:
                    type: string
                    description: Dosage measurement for the CBDA cannabinoid type
                    nullable: true
                  skuCBNA:
                    type: string
                    description: Dosage measurement for the CBNA cannabinoid type
                    nullable: true
                  skuCBCA:
                    type: string
                    description: Dosage measurement for the CBCA cannabinoid type
                    nullable: true
                  skuTHCVA:
                    type: string
                    description: Dosage measurement for the THCVA cannabinoid type
                    nullable: true
                  skuCBDVA:
                    type: string
                    description: Dosage measurement for the CBDVA cannabinoid type
                    nullable: true
                  skuDelta10THC:
                    type: string
                    description: Dosage measurement for the Delta-10 THC cannabinoid type
                    nullable: true
                  skuDelta9THC:
                    type: string
                    description: Dosage measurement for the Delta-9 THC cannabinoid type
                    nullable: true
                  skuThcPotencyMg:
                    type: string
                    description: The measurement amount for THC potency in mg (if thcPotencyMeasurementType
                      is selected as “weight”)
                    nullable: true
                  skuThcPotencyPercentage:
                    type: string
                    description: The measurement amount for THC potency as a percentage (if thcPotencyMeasurementType
                      is selected as “potency”)
                    nullable: true
                  skuCannabinoidTypeA:
                    type: string
                    description: First cannabinoid type (e.g., THC, CBD)
                    nullable: true
                  skuCannabinoidTypeB:
                    type: string
                    description: Second cannabinoid type (e.g., CBG, CBN)
                    nullable: true
                required:
                - skuCode
                - skuName
                - batchCode
                - skuUnit
                - skuPricePerUnit
                - batchExpirationDate
                - skuBatchLastUpdatedDate
                - batchManufacturingDate
                - batchLicenseNumber
                - skuInventoryType
                - skuInventoryClass
                - skuInventoryCategory
                - batchCbdPercentage
                - batchThcPercentage
                - batchTags
                - skuTags
                - batchOtherCannabinoidPercentage
                - batchThcAPercentage
                - batchThcWeight
                - batchCbdWeight
                - batchOtherCannabinoidWeight
                - batchThcAWeight
                - batchAromas
                - skuBatchDaysAtNabis
                - skuIsSample
                - skuStrainType
                - warehouseCounts
                - avgWeeklyQuantityOrderedPast4Weeks
                - avgWeeklyQuantityDeliveredPast4Weeks
                - skuBatchId
                - skuDisplayName
                - skuCasePackSize
                - skuTotalPrice
                - skuProductLine
                - skuBrandName
                - skuUnitsPerEach
                - skuConsumableUnitsPerEach
                - skuEachUnitOfMeasure
                - skuThcPotencyMeasurementType
                - skuContainerType
                - skuIsColdStorage
                - skuTHC
                - skuCBD
                - skuCBG
                - skuCBN
                - skuTHCV
                - skuCBC
                - skuDelta8THC
                - skuCBDV
                - skuTHCA
                - skuCBDA
                - skuCBNA
                - skuCBCA
                - skuTHCVA
                - skuCBDVA
                - skuDelta10THC
                - skuDelta9THC
                - skuThcPotencyMg
                - skuThcPotencyPercentage
                - skuCannabinoidTypeA
                - skuCannabinoidTypeB
        '401':
          description: Invalid API key
        '429':
          description: Too Many Requests
      security:
      - x-nabis-access-token: []
  /v2/inventory-history/sku-batch/{skuBatchId}:
    get:
      operationId: InventoryHistoryController_getInventoryHistoryForSkuBatch
      description: Get by Nabis skuBatchId
      tags:
      - Inventory History
      parameters:
      - name: skuBatchId
        required: true
        in: path
        schema:
          type: string
      - name: page
        required: true
        in: query
        schema:
          default: 0
          type: number
      - name: limit
        required: true
        in: query
        schema:
          minimum: 1
          maximum: 500
          type: number
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  skuBatchId:
                    type: string
                    format: uuid
                    description: The Nabis internal ID for the batch
                    nullable: false
                  skuCode:
                    type: string
                    description: The parent SKU code
                    nullable: false
                  skuName:
                    type: string
                    nullable: true
                    description: The parent SKU name
                  snapshotDate:
                    type: string
                    format: date
                    example: '2022-04-20'
                    description: The date of the inventory snapshot
                    nullable: false
                  incoming:
                    type: number
                    format: number
                    description: Total number of incoming units
                    nullable: false
                  outgoing:
                    type: number
                    format: number
                    description: Total number of outgoing units
                    nullable: false
                  available:
                    type: number
                    format: number
                    description: Total number of available units
                    nullable: false
                  counted:
                    type: number
                    format: number
                    description: Total counted units
                    nullable: false
                  quarantined:
                    type: number
                    format: number
                    description: Total number of quarantined units
                    nullable: false
                  packed:
                    type: number
                    format: number
                    description: Total number of packed units
                    nullable: false
                required:
                - skuBatchId
                - skuCode
                - skuName
                - snapshotDate
                - incoming
                - outgoing
                - available
                - counted
                - quarantined
                - packed
        '401':
          description: Invalid API key
        '429':
          description: Too Many Requests
      security:
      - x-nabis-access-token: []
  /v2/inventory-history/snapshot-date/{snapshotDate}:
    get:
      operationId: InventoryHistoryController_getInventoryHistoryForSnapshotDate
      description: Get by Snapshot Date
      tags:
      - Inventory History
      parameters:
      - name: snapshotDate
        required: true
        in: path
        schema:
          type: string
      - name: page
        required: true
        in: query
        schema:
          default: 0
          type: number
      - name: limit
        required: true
        in: query
        schema:
          minimum: 1
          maximum: 500
          type: number
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  skuBatchId:
                    type: string
                    format: uuid
                    description: The Nabis internal ID for the batch
                    nullable: false
                  skuCode:
                    type: string
                    description: The parent SKU code
                    nullable: false
                  skuName:
                    type: string
                    nullable: true
                    description: The parent SKU name
                  snapshotDate:
                    type: string
                    format: date
                    example: '2022-04-20'
                    description: The date of the inventory snapshot
                    nullable: false
                  incoming:
                    type: number
                    format: number
                    description: Total number of incoming units
                    nullable: false
                  outgoing:
                    type: number
                    format: number
                    description: Total number of outgoing units
                    nullable: false
                  available:
                    type: number
                    format: number
                    description: Total number of available units
                    nullable: false
                  counted:
                    type: number
                    format: number
                    description: Total counted units
                    nullable: false
                  quarantined:
                    type: number
                    format: number
                    description: Total number of quarantined units
                    nullable: false
                  packed:
                    type: number
                    format: number
                    description: Total number of packed units
                    nullable: false
                required:
                - skuBatchId
                - skuCode
                - skuName
                - snapshotDate
                - incoming
                - outgoing
                - available
                - counted
                - quarantined
                - packed
        '400':
          description: 'Invalid ISO8601 date provided for snapshot date. Format: `YYYY-MM-DD`. Example:
            `2022-04-20`'
        '401':
          description: Invalid API key
        '429':
          description: Too Many Requests
      security:
      - x-nabis-access-token: []
  /v2/inventory/{skuCode}:
    get:
      operationId: InventoryController_getInventory
      description: Get Inventory by SKU (CA)
      tags:
      - Inventory
      parameters:
      - name: skuCode
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  skuCode:
                    type: string
                    description: Brand-input code for inventory item, typically used for internal brand
                      system mapping
                  skuName:
                    type: string
                    nullable: true
                    description: Listed name of inventory item on order documentation, remains consistent
                      across batches
                  batchCode:
                    type: string
                    description: Brand-input code for inventory item batch
                  skuUnit:
                    type: string
                    nullable: true
                    description: Description of the item's unit characteristics (i.e., 6-pack)
                  skuPricePerUnit:
                    type: number
                    format: number
                    nullable: true
                    description: The unit price of each unit in the case.
                  batchExpirationDate:
                    type: string
                    format: date
                    example: '2022-04-20'
                    description: Date upon which a product's COA has lapsed; re-testing or destruction
                      is required at this point
                  skuBatchLastUpdatedDate:
                    type: string
                    format: date
                    example: '2022-04-20'
                    nullable: true
                    description: Most recent date upon which sku batch details were adjusted
                  batchManufacturingDate:
                    type: string
                    format: date
                    example: '2022-04-20'
                    description: Date upon which batch was manufactured
                  batchLicenseNumber:
                    type: string
                    description: Batch License Number
                  skuInventoryType:
                    type: string
                    description: If the SKU is cannabis or non-cannabis
                  skuInventoryClass:
                    type: string
                    description: General classification of an SKU's characteristics (i.e., edible)
                  skuInventoryCategory:
                    type: string
                    description: Specific categorization of an SKU's characteristics (i.e., gummy, chocolate,
                      etc.)
                  batchCbdPercentage:
                    type: number
                    format: number
                    nullable: true
                    description: '% CBD value of batch'
                  batchThcPercentage:
                    type: number
                    format: number
                    nullable: true
                    description: '% THC value of batch'
                  batchTags:
                    description: Internal-facing batch tags, visible to brands and admins (not visible
                      on marketplace)
                    nullable: false
                    type: array
                    items:
                      type: string
                  skuTags:
                    description: Custom Classification Associated with an Item
                    nullable: false
                    type: array
                    items:
                      type: string
                  batchOtherCannabinoidPercentage:
                    type: number
                    format: number
                    nullable: true
                    description: '% Other Cannabinoid value of batch'
                  batchThcAPercentage:
                    type: number
                    format: number
                    nullable: true
                    description: '% THC-A value of batch'
                  batchThcWeight:
                    type: number
                    format: number
                    nullable: true
                    description: THC weight value (mg) of batch
                  batchCbdWeight:
                    type: number
                    format: number
                    nullable: true
                    description: CBD weight value (mg) of batch
                  batchOtherCannabinoidWeight:
                    type: number
                    format: number
                    nullable: true
                    description: Other Cannabinoid weight value (mg) of batch
                  batchThcAWeight:
                    type: number
                    format: number
                    nullable: true
                    description: THC-A weight value (mg) of batch
                  batchAromas:
                    description: Aroma characteristics of batch
                    nullable: false
                    type: array
                    items:
                      type: string
                  skuBatchDaysAtNabis:
                    type: number
                    format: number
                    nullable: true
                    description: The number of days a sku batch has been stored at Nabis since the intake
                      date
                  skuIsSample:
                    type: string
                    description: If the inventory item is set as a Sample by default
                    nullable: false
                  skuStrainType:
                    type: string
                    description: Strain characteristics of inventory item
                  warehouseCounts:
                    description: Warehouse Counts. Note that these inventory counts are not real-time
                      and could have a delay in them between our core platform and this API. For more
                      information, please visit the Inventory Quantities page for more detail.
                    nullable: false
                    type: array
                    items:
                      type: object
                      properties:
                        incoming:
                          type: number
                          format: number
                          description: Corresponding inventory counts based on warehouse location
                          nullable: false
                        outgoing:
                          type: number
                          format: number
                          description: Corresponding inventory counts based on warehouse location
                          nullable: false
                        available:
                          type: number
                          format: number
                          description: Corresponding inventory counts based on warehouse location
                          nullable: false
                        counted:
                          type: number
                          format: number
                          description: Corresponding inventory counts based on warehouse location
                          nullable: false
                        quarantined:
                          type: number
                          format: number
                          description: Corresponding inventory counts based on warehouse location
                          nullable: false
                        packed:
                          type: number
                          format: number
                          description: Corresponding inventory counts based on warehouse location
                          nullable: false
                        updatedAt:
                          type: string
                          format: date-time
                          example: '2022-04-20T21:20:00.000Z'
                          nullable: true
                          description: The last updated made when a difference was detected in between
                            our cached inventory data and our warehouse inventory system.
                        warehouseId:
                          type: string
                          format: uuid
                          description: Nabis warehouse of origination
                      required:
                      - incoming
                      - outgoing
                      - available
                      - counted
                      - quarantined
                      - packed
                      - updatedAt
                      - warehouseId
                  avgWeeklyQuantityOrderedPast4Weeks:
                    type: number
                    format: number
                    nullable: true
                    description: Average Weekly Quantity Ordered Past Four Weeks
                  avgWeeklyQuantityDeliveredPast4Weeks:
                    type: number
                    format: number
                    nullable: true
                    description: Average Weekly Quantity Delivered Past Four Weeks
                  skuBatchId:
                    type: string
                    format: uuid
                    description: Nabis UUID identifier for sku + batch
                  skuDisplayName:
                    type: string
                    description: The SKU's Marketplace display name
                    nullable: true
                  skuCasePackSize:
                    type: number
                    format: number
                    description: The number of eaches in a case
                  skuTotalPrice:
                    type: number
                    format: number
                    description: The total price of the SKU (`skuPricePerUnit * skuCasePackSize`)
                  skuProductLine:
                    type: string
                    description: Defines the product line for grouping similar items at the product level
                    nullable: true
                  skuBrandName:
                    type: string
                    description: The brand name of the product (distinct from DBA or Organization Name)
                    nullable: true
                  skuUnitsPerEach:
                    type: string
                    description: The number of units within a single "Each" (e.g., packs)
                    nullable: true
                  skuConsumableUnitsPerEach:
                    type: string
                    description: How many consumable units there are in an each when the each is a pack
                    nullable: true
                  skuEachUnitOfMeasure:
                    type: string
                    description: Specifies whether an "Each" is a single unit or a pack
                    nullable: true
                  skuThcPotencyMeasurementType:
                    type: string
                    description: The measurement type for THC potency (mg or percentage)
                    nullable: true
                  skuContainerType:
                    type: string
                    description: Describes the packaging type of the product
                    nullable: true
                  skuIsColdStorage:
                    type: string
                    description: Indicates whether the product requires cold storage. This service is
                      contractually negotiated with Nabis
                    nullable: true
                  skuTHC:
                    type: string
                    description: Dosage measurement for the THC cannabinoid type
                    nullable: true
                  skuCBD:
                    type: string
                    description: Dosage measurement for the CBD cannabinoid type
                    nullable: true
                  skuCBG:
                    type: string
                    description: Dosage measurement for the CBG cannabinoid type
                    nullable: true
                  skuCBN:
                    type: string
                    description: Dosage measurement for the CBN cannabinoid type
                    nullable: true
                  skuTHCV:
                    type: string
                    description: Dosage measurement for the THCV cannabinoid type
                    nullable: true
                  skuCBC:
                    type: string
                    description: Dosage measurement for the CBC cannabinoid type
                    nullable: true
                  skuDelta8THC:
                    type: string
                    description: Dosage measurement for the Delta-8 THC cannabinoid type
                    nullable: true
                  skuCBDV:
                    type: string
                    description: Dosage measurement for the CBDV cannabinoid type
                    nullable: true
                  skuTHCA:
                    type: string
                    description: Dosage measurement for the THCA cannabinoid type
                    nullable: true
                  skuCBDA:
                    type: string
                    description: Dosage measurement for the CBDA cannabinoid type
                    nullable: true
                  skuCBNA:
                    type: string
                    description: Dosage measurement for the CBNA cannabinoid type
                    nullable: true
                  skuCBCA:
                    type: string
                    description: Dosage measurement for the CBCA cannabinoid type
                    nullable: true
                  skuTHCVA:
                    type: string
                    description: Dosage measurement for the THCVA cannabinoid type
                    nullable: true
                  skuCBDVA:
                    type: string
                    description: Dosage measurement for the CBDVA cannabinoid type
                    nullable: true
                  skuDelta10THC:
                    type: string
                    description: Dosage measurement for the Delta-10 THC cannabinoid type
                    nullable: true
                  skuDelta9THC:
                    type: string
                    description: Dosage measurement for the Delta-9 THC cannabinoid type
                    nullable: true
                  skuThcPotencyMg:
                    type: string
                    description: The measurement amount for THC potency in mg (if thcPotencyMeasurementType
                      is selected as “weight”)
                    nullable: true
                  skuThcPotencyPercentage:
                    type: string
                    description: The measurement amount for THC potency as a percentage (if thcPotencyMeasurementType
                      is selected as “potency”)
                    nullable: true
                  skuCannabinoidTypeA:
                    type: string
                    description: First cannabinoid type (e.g., THC, CBD)
                    nullable: true
                  skuCannabinoidTypeB:
                    type: string
                    description: Second cannabinoid type (e.g., CBG, CBN)
                    nullable: true
                required:
                - skuCode
                - skuName
                - batchCode
                - skuUnit
                - skuPricePerUnit
                - batchExpirationDate
                - skuBatchLastUpdatedDate
                - batchManufacturingDate
                - batchLicenseNumber
                - skuInventoryType
                - skuInventoryClass
                - skuInventoryCategory
                - batchCbdPercentage
                - batchThcPercentage
                - batchTags
                - skuTags
                - batchOtherCannabinoidPercentage
                - batchThcAPercentage
                - batchThcWeight
                - batchCbdWeight
                - batchOtherCannabinoidWeight
                - batchThcAWeight
                - batchAromas
                - skuBatchDaysAtNabis
                - skuIsSample
                - skuStrainType
                - warehouseCounts
                - avgWeeklyQuantityOrderedPast4Weeks
                - avgWeeklyQuantityDeliveredPast4Weeks
                - skuBatchId
                - skuDisplayName
                - skuCasePackSize
                - skuTotalPrice
                - skuProductLine
                - skuBrandName
                - skuUnitsPerEach
                - skuConsumableUnitsPerEach
                - skuEachUnitOfMeasure
                - skuThcPotencyMeasurementType
                - skuContainerType
                - skuIsColdStorage
                - skuTHC
                - skuCBD
                - skuCBG
                - skuCBN
                - skuTHCV
                - skuCBC
                - skuDelta8THC
                - skuCBDV
                - skuTHCA
                - skuCBDA
                - skuCBNA
                - skuCBCA
                - skuTHCVA
                - skuCBDVA
                - skuDelta10THC
                - skuDelta9THC
                - skuThcPotencyMg
                - skuThcPotencyPercentage
                - skuCannabinoidTypeA
                - skuCannabinoidTypeB
        '401':
          description: Invalid API key
        '429':
          description: Too Many Requests
      security:
      - x-nabis-access-token: []
  /v2/invoice:
    get:
      operationId: InvoiceController_getInvoices
      description: Get Many Invoices (CA)
      tags:
      - Invoice
      parameters:
      - name: orderNumber
        required: false
        in: query
        example: 12345
        description: System-generated numeric ID for order
        schema:
          format: number
          nullable: true
          type: string
      - name: irn
        required: false
        in: query
        example: '12345'
        description: Order IRN (PO/SO)
        schema:
          nullable: true
          type: string
      - name: dispensary
        required: false
        in: query
        example: Dispensary name
        description: Dispensary name
        schema:
          nullable: true
          type: string
      - name: organizationName
        required: false
        in: query
        example: Organization name
        description: Organization name
        schema:
          nullable: true
          type: string
      - name: organizationId
        required: false
        in: query
        example: 458c8396-2b53-46cc-8a4d-b8f600eb3f1e
        description: Organization ID
        schema:
          nullable: true
          type: string
      - name: startDate
        required: false
        in: query
        example: '2022-04-20'
        description: Starting delivery date of order - "deliveryDate"
        schema:
          format: date
          type: string
      - name: endDate
        required: false
        in: query
        example: '2022-04-20'
        description: Ending delivery date of the order - "deliveryDate"
        schema:
          format: date
          type: string
      - name: startDueDate
        required: false
        in: query
        example: '2022-04-20'
        description: Starting date upon which order is due - "dueDate"
        schema:
          format: date
          type: string
      - name: endDueDate
        required: false
        in: query
        example: '2022-04-20'
        description: Ending date upon which order is due - "dueDate"
        schema:
          format: date
          type: string
      - name: page
        required: true
        in: query
        schema:
          default: 0
          type: number
      - name: limit
        required: true
        in: query
        schema:
          minimum: 1
          maximum: 500
          type: number
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    description: System-generated UUID to identify order
                  deliveryDate:
                    type: string
                    format: date
                    example: '2022-04-20'
                    description: Date upon which order is delivered
                    nullable: false
                  overdue:
                    type: number
                    description: Number of Days between current date and Due Date
                    nullable: false
                  discount:
                    type: number
                    description: Discount
                    format: number
                    nullable: false
                  name:
                    type: string
                    description: Brand-input name describing order
                    nullable: false
                  orderNumber:
                    type: number
                    description: System-generated numeric ID for order
                    nullable: false
                  surcharge:
                    type: number
                    description: Surcharge
                    format: number
                    nullable: false
                  creditMemo:
                    type: string
                    description: $ Amount of order-level credit reducing overall order $ amount (not related
                      to specific order/transaction; reflects pre-existing agreement)
                    nullable: true
                  creditMemoType:
                    type: string
                    nullable: true
                    description: The credit memo type for this order
                  creditMemoNote:
                    type: string
                    nullable: true
                    description: The credit memo note
                  creditMemoCreatedBy:
                    type: string
                    nullable: true
                    description: Email address of user that created the credit memo
                    format: email
                  creditMemoCreatedAt:
                    type: string
                    format: date-time
                    example: '2022-04-20T21:20:00.000Z'
                    nullable: true
                    description: The timestamp the credit memo was created
                  exciseTaxCollected:
                    type: number
                    format: number
                    description: Excise Tax Collected
                    nullable: false
                  organizationName:
                    type: string
                    description: Organization Name
                    nullable: false
                  dueDate:
                    type: string
                    format: date
                    example: '2022-04-20'
                    description: Invoice Due Date. Formerly named `gmvDueDate`
                    nullable: false
                  exciseTaxDueDate:
                    type: string
                    format: date
                    example: '2022-04-20'
                    description: Excise Tax Due Date
                    nullable: false
                  subtotal:
                    type: number
                    format: number
                    description: Subtotal. Formerly known as `gmv`.
                    nullable: false
                  subtotalCollected:
                    type: number
                    format: number
                    description: $ amount collected for order (typically from partial payments). Formerly
                      known as `gmvCollected`.
                    nullable: false
                  subtotalDue:
                    type: number
                    format: number
                    description: Net Amount less partial collections
                    nullable: false
                  total:
                    type: number
                    format: number
                    description: Order total
                    nullable: false
                  due:
                    type: number
                    format: number
                    description: Net balance and excise tax less any amount collected
                    nullable: false
                  manifest:
                    type: string
                    description: URL for order PDF documentation
                    nullable: false
                  posoNumber:
                    type: string
                    description: Brand-input value reflecting internal brand system ID to identify corresponding
                      Nabis order
                    nullable: true
                  futureNumber:
                    type: number
                    description: Order Number of future brand delivery to customer
                    nullable: false
                  futureDate:
                    type: string
                    format: date
                    example: '2022-04-20'
                    description: Date of future brand delivery to customer
                    nullable: false
                  tax:
                    type: number
                    format: number
                    description: Tax
                    nullable: false
                  dispensary:
                    type: string
                    description: Dispensary
                    nullable: false
                  siteState:
                    type: string
                    description: Site State
                    nullable: false
                  region:
                    type: string
                    description: Region
                    nullable: false
                  creator:
                    type: string
                    description: Name of the user that submitted order
                    nullable: false
                  creatorEmail:
                    type: string
                    description: Email address of user that submitted order
                    format: email
                    nullable: false
                  retailerUuid:
                    type: string
                    description: System-generated unique ID of order destination
                    format: uuid
                    nullable: false
                  mustPayPriorBalance:
                    type: boolean
                    description: Must pay prior balance (Balances required for delivery will be associated
                      with orders created after 2023-03-29)
                    nullable: false
                  lineItems:
                    description: Line Items
                    nullable: false
                    type: array
                    items:
                      type: object
                      properties:
                        quantity:
                          type: number
                          format: number
                          description: Line item quantity ordered
                          nullable: false
                        pricePerUnit:
                          type: number
                          format: number
                          description: Line item $ price per unit
                          nullable: true
                        standardPricePerUnit:
                          type: number
                          format: number
                          description: The wholesale, un-discounted system unit price of a product from
                            the Inventory Tab at time of order creation
                          nullable: true
                        isExciseTaxable:
                          type: boolean
                          description: Line item is excise taxable
                          nullable: false
                        discount:
                          type: number
                          format: number
                          description: Line item discount amount
                          nullable: false
                      required:
                      - quantity
                      - pricePerUnit
                      - standardPricePerUnit
                      - isExciseTaxable
                      - discount
                required:
                - id
                - deliveryDate
                - overdue
                - discount
                - name
                - orderNumber
                - surcharge
                - creditMemo
                - creditMemoType
                - creditMemoNote
                - creditMemoCreatedBy
                - creditMemoCreatedAt
                - exciseTaxCollected
                - organizationName
                - dueDate
                - exciseTaxDueDate
                - subtotal
                - subtotalCollected
                - subtotalDue
                - total
                - due
                - manifest
                - posoNumber
                - futureNumber
                - futureDate
                - tax
                - dispensary
                - siteState
                - region
                - creator
                - creatorEmail
                - retailerUuid
                - mustPayPriorBalance
                - lineItems
        '400':
          description: Bad Request Exception
        '401':
          description: Invalid API key
        '429':
          description: Too Many Requests
      security:
      - x-nabis-access-token: []
  /v2/nabis-days-off:
    get:
      operationId: NabisDaysOffController_getNabisDaysOff
      description: Get Nabis Days Off
      tags:
      - NabisDaysOff
      parameters: []
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  date:
                    type: string
                    description: Date of day off in `yyyy-mm-dd` format
                    nullable: false
                  description:
                    type: string
                    description: Description of day off. Ex. `Next year's Independence Day`
                    nullable: false
                required:
                - date
                - description
        '401':
          description: Invalid API key
        '429':
          description: Too Many Requests
      security:
      - x-nabis-access-token: []
  /v2/ny/inventory:
    get:
      operationId: NYInventoryController_getNyInventory
      description: Please reach out to partnerships@nabis.com for information on API access.
      tags:
      - NY Inventory
      parameters:
      - name: page
        required: true
        in: query
        schema:
          default: 0
          type: number
      - name: limit
        required: true
        in: query
        schema:
          minimum: 1
          maximum: 500
          type: number
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  skuCode:
                    type: string
                    description: Brand-input code for inventory item, typically used for internal brand
                      system mapping
                  skuName:
                    type: string
                    description: Listed name of inventory item on order documentation, remains consistent
                      across batches
                  batchCode:
                    type: string
                    description: Brand-input code for inventory item batch
                  skuUnit:
                    type: string
                    nullable: true
                    description: Description of the item's unit characteristics (i.e., 6-pack)
                  skuPricePerUnit:
                    type: number
                    description: The unit price of each unit in the case.
                  batchExpirationDate:
                    type: string
                    format: date
                    description: Date upon which a product's COA has lapsed; re-testing or destruction
                      is required at this point
                  skuBatchLastUpdatedDate:
                    type: string
                    format: date
                    description: Most recent date upon which sku batch details were adjusted
                  batchManufacturingDate:
                    type: string
                    format: date
                    description: Date upon which batch was manufactured
                  batchLicenseNumber:
                    type: string
                    description: Batch License Number
                  skuInventoryType:
                    type: string
                    description: If the SKU is cannabis or non-cannabis
                  skuInventoryClass:
                    type: string
                    description: General classification of an SKU's characteristics (i.e., edible)
                  skuInventoryCategory:
                    type: string
                    description: Specific categorization of an SKU's characteristics (i.e., gummy, chocolate,
                      etc.)
                  batchCbdPercentage:
                    type: number
                    nullable: true
                    description: '% CBD value of batch'
                  batchThcPercentage:
                    type: number
                    nullable: true
                    description: '% THC value of batch'
                  batchThcWeight:
                    type: number
                    nullable: true
                    description: THC weight value (mg) of batch
                  batchCbdWeight:
                    type: number
                    nullable: true
                    description: CBD weight value (mg) of batch
                  skuStrainType:
                    type: string
                    nullable: true
                    description: Strain characteristics of inventory item
                  skuBatchId:
                    type: string
                    format: uuid
                    description: Nabis UUID identifier for sku + batch
                  skuCasePackSize:
                    type: number
                    description: The number of eaches in a case
                  skuTotalPrice:
                    type: number
                    description: The total price of the SKU (`skuPricePerUnit * skuCasePackSize`)
                  skuId:
                    type: string
                    format: uuid
                    description: Nabis UUID identifier for the product
                  availableOnMarketplace:
                    type: boolean
                    description: Indicates whether the item is available for purchase on the Nabis Marketplace
                  deletedAt:
                    type: string
                    nullable: true
                    description: The deleted at timestamp indicating the product has been deleted from
                      the Nabis system. If null, the product is active.
                  isMedical:
                    type: boolean
                    description: Indicates if the item is marked as a medical product in the Nabis system.
                  licenseNickname:
                    type: string
                    description: The nickname associated to the license that is associated to the SKU
                  batchThcAPercentage:
                    type: number
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  batchThcAWeight:
                    type: number
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  batchOtherCannabinoidWeight:
                    type: number
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  batchOtherCannabinoidPercentage:
                    type: number
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  batchTags:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  batchAromas:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuIsSample:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuTags:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuBatchDaysAtNabis:
                    type: number
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  avgWeeklyQuantityOrderedPast4Weeks:
                    type: number
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  avgWeeklyQuantityDeliveredPast4Weeks:
                    type: number
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuDisplayName:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuProductLine:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuBrandName:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuUnitsPerEach:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuConsumableUnitsPerEach:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuEachUnitOfMeasure:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuThcPotencyMeasurementType:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuContainerType:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuIsColdStorage:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuTHC:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuCBD:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuCBG:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuCBN:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuTHCV:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuCBC:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuDelta8THC:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuCBDV:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuTHCA:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuCBDA:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuCBNA:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuCBCA:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuTHCVA:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuCBDVA:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuDelta10THC:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuDelta9THC:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuThcPotencyMg:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuThcPotencyPercentage:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuCannabinoidTypeA:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuCannabinoidTypeB:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  warehouseCounts:
                    description: Warehouse Counts. Note that these inventory counts are not real-time
                      and could have a delay in them between our core platform and this API. For more
                      information, please visit the Inventory Quantities page for more detail.
                    nullable: false
                    type: array
                    items:
                      type: object
                      properties:
                        incoming:
                          type: number
                          format: number
                          description: Corresponding inventory counts based on warehouse location
                          nullable: false
                        outgoing:
                          type: number
                          format: number
                          description: Corresponding inventory counts based on warehouse location
                          nullable: false
                        available:
                          type: number
                          format: number
                          description: Corresponding inventory counts based on warehouse location
                          nullable: false
                        counted:
                          type: number
                          format: number
                          description: Corresponding inventory counts based on warehouse location
                          nullable: false
                        quarantined:
                          type: number
                          format: number
                          description: Corresponding inventory counts based on warehouse location
                          nullable: false
                        packed:
                          type: number
                          format: number
                          description: Corresponding inventory counts based on warehouse location
                          nullable: false
                        updatedAt:
                          type: string
                          format: date-time
                          example: '2022-04-20T21:20:00.000Z'
                          nullable: true
                          description: The last updated made when a difference was detected in between
                            our cached inventory data and our warehouse inventory system.
                        warehouseId:
                          type: string
                          format: uuid
                          description: Nabis warehouse of origination
                      required:
                      - incoming
                      - outgoing
                      - available
                      - counted
                      - quarantined
                      - packed
                      - updatedAt
                      - warehouseId
                required:
                - skuCode
                - skuName
                - batchCode
                - skuUnit
                - skuPricePerUnit
                - batchExpirationDate
                - skuBatchLastUpdatedDate
                - batchManufacturingDate
                - batchLicenseNumber
                - skuInventoryType
                - skuInventoryClass
                - skuInventoryCategory
                - batchCbdPercentage
                - batchThcPercentage
                - batchThcWeight
                - batchCbdWeight
                - skuStrainType
                - skuBatchId
                - skuCasePackSize
                - skuTotalPrice
                - skuId
                - availableOnMarketplace
                - deletedAt
                - isMedical
                - licenseNickname
                - batchThcAPercentage
                - batchThcAWeight
                - batchOtherCannabinoidWeight
                - batchOtherCannabinoidPercentage
                - batchTags
                - batchAromas
                - skuIsSample
                - skuTags
                - skuBatchDaysAtNabis
                - avgWeeklyQuantityOrderedPast4Weeks
                - avgWeeklyQuantityDeliveredPast4Weeks
                - skuDisplayName
                - skuProductLine
                - skuBrandName
                - skuUnitsPerEach
                - skuConsumableUnitsPerEach
                - skuEachUnitOfMeasure
                - skuThcPotencyMeasurementType
                - skuContainerType
                - skuIsColdStorage
                - skuTHC
                - skuCBD
                - skuCBG
                - skuCBN
                - skuTHCV
                - skuCBC
                - skuDelta8THC
                - skuCBDV
                - skuTHCA
                - skuCBDA
                - skuCBNA
                - skuCBCA
                - skuTHCVA
                - skuCBDVA
                - skuDelta10THC
                - skuDelta9THC
                - skuThcPotencyMg
                - skuThcPotencyPercentage
                - skuCannabinoidTypeA
                - skuCannabinoidTypeB
                - warehouseCounts
        '400':
          description: 'Invalid ISO8601 date provided for snapshot date. Format: `YYYY-MM-DD`. Example:
            `2022-04-20`'
        '401':
          description: Invalid API key
        '429':
          description: Too Many Requests
      security:
      - x-nabis-access-token: []
  /v2/ny/inventory/aggregate:
    get:
      operationId: NYInventoryController_getNyInventoryAggregate
      description: Displays inventory quantities across Nabis warehouses instead of within specific warehouses.
        Please reach out to partnerships@nabis.com for information on API access.
      tags:
      - NY Inventory
      parameters:
      - name: page
        required: true
        in: query
        schema:
          default: 0
          type: number
      - name: limit
        required: true
        in: query
        schema:
          minimum: 1
          maximum: 500
          type: number
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  skuCode:
                    type: string
                    description: Brand-input code for inventory item, typically used for internal brand
                      system mapping
                  skuName:
                    type: string
                    description: Listed name of inventory item on order documentation, remains consistent
                      across batches
                  batchCode:
                    type: string
                    description: Brand-input code for inventory item batch
                  skuUnit:
                    type: string
                    nullable: true
                    description: Description of the item's unit characteristics (i.e., 6-pack)
                  skuPricePerUnit:
                    type: number
                    description: The unit price of each unit in the case.
                  batchExpirationDate:
                    type: string
                    format: date
                    description: Date upon which a product's COA has lapsed; re-testing or destruction
                      is required at this point
                  skuBatchLastUpdatedDate:
                    type: string
                    format: date
                    description: Most recent date upon which sku batch details were adjusted
                  batchManufacturingDate:
                    type: string
                    format: date
                    description: Date upon which batch was manufactured
                  batchLicenseNumber:
                    type: string
                    description: Batch License Number
                  skuInventoryType:
                    type: string
                    description: If the SKU is cannabis or non-cannabis
                  skuInventoryClass:
                    type: string
                    description: General classification of an SKU's characteristics (i.e., edible)
                  skuInventoryCategory:
                    type: string
                    description: Specific categorization of an SKU's characteristics (i.e., gummy, chocolate,
                      etc.)
                  batchCbdPercentage:
                    type: number
                    nullable: true
                    description: '% CBD value of batch'
                  batchThcPercentage:
                    type: number
                    nullable: true
                    description: '% THC value of batch'
                  batchThcWeight:
                    type: number
                    nullable: true
                    description: THC weight value (mg) of batch
                  batchCbdWeight:
                    type: number
                    nullable: true
                    description: CBD weight value (mg) of batch
                  skuStrainType:
                    type: string
                    nullable: true
                    description: Strain characteristics of inventory item
                  skuBatchId:
                    type: string
                    format: uuid
                    description: Nabis UUID identifier for sku + batch
                  skuCasePackSize:
                    type: number
                    description: The number of eaches in a case
                  skuTotalPrice:
                    type: number
                    description: The total price of the SKU (`skuPricePerUnit * skuCasePackSize`)
                  skuId:
                    type: string
                    format: uuid
                    description: Nabis UUID identifier for the product
                  availableOnMarketplace:
                    type: boolean
                    description: Indicates whether the item is available for purchase on the Nabis Marketplace
                  deletedAt:
                    type: string
                    nullable: true
                    description: The deleted at timestamp indicating the product has been deleted from
                      the Nabis system. If null, the product is active.
                  isMedical:
                    type: boolean
                    description: Indicates if the item is marked as a medical product in the Nabis system.
                  licenseNickname:
                    type: string
                    description: The nickname associated to the license that is associated to the SKU
                  inventory:
                    description: Inventory Counts aggregated over warehouses. Note that these inventory
                      counts are not real-time and could have a delay in them between our core platform
                      and this API. For more information, please visit the Inventory Quantities page for
                      more detail.
                    nullable: false
                    type: array
                    items:
                      type: object
                      properties:
                        outgoingQuantity:
                          type: number
                          format: number
                          description: Count for all open orders + orders in the fulfillment process
                          nullable: false
                        openOrderQuantity:
                          type: number
                          format: number
                          description: Count for all open orders
                          nullable: false
                        inFulfillmentProcessQuantity:
                          type: number
                          format: number
                          description: Count for all orders currently in the fulfillment process
                          nullable: false
                        incomingQuantity:
                          type: number
                          format: number
                          description: Count for all orders inbound to Nabis warehouses (i.e., open POs)
                          nullable: false
                        availableQuantity:
                          type: number
                          format: number
                          description: Count for inventory available to sell through the platform
                          nullable: false
                        quarantinedQuantity:
                          type: number
                          format: number
                          description: Count for inventory that is quarantined and not available to sell
                            through the platform
                          nullable: false
                        updatedAt:
                          type: string
                          format: date-time
                          example: '2022-04-20T21:20:00.000Z'
                          nullable: true
                          description: The last updated made when a difference was detected in between
                            our cached inventory data and our warehouse inventory system.
                      required:
                      - outgoingQuantity
                      - openOrderQuantity
                      - inFulfillmentProcessQuantity
                      - incomingQuantity
                      - availableQuantity
                      - quarantinedQuantity
                      - updatedAt
                required:
                - skuCode
                - skuName
                - batchCode
                - skuUnit
                - skuPricePerUnit
                - batchExpirationDate
                - skuBatchLastUpdatedDate
                - batchManufacturingDate
                - batchLicenseNumber
                - skuInventoryType
                - skuInventoryClass
                - skuInventoryCategory
                - batchCbdPercentage
                - batchThcPercentage
                - batchThcWeight
                - batchCbdWeight
                - skuStrainType
                - skuBatchId
                - skuCasePackSize
                - skuTotalPrice
                - skuId
                - availableOnMarketplace
                - deletedAt
                - isMedical
                - licenseNickname
                - inventory
        '400':
          description: 'Invalid ISO8601 date provided for snapshot date. Format: `YYYY-MM-DD`. Example:
            `2022-04-20`'
        '401':
          description: Invalid API key
        '429':
          description: Too Many Requests
      security:
      - x-nabis-access-token: []
  /v2/ny/inventory/{itemCode}:
    get:
      operationId: NYInventoryController_getNyInventoryByItemCode
      description: Please reach out to partnerships@nabis.com for information on API access.
      tags:
      - NY Inventory
      parameters:
      - name: itemCode
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  skuCode:
                    type: string
                    description: Brand-input code for inventory item, typically used for internal brand
                      system mapping
                  skuName:
                    type: string
                    description: Listed name of inventory item on order documentation, remains consistent
                      across batches
                  batchCode:
                    type: string
                    description: Brand-input code for inventory item batch
                  skuUnit:
                    type: string
                    nullable: true
                    description: Description of the item's unit characteristics (i.e., 6-pack)
                  skuPricePerUnit:
                    type: number
                    description: The unit price of each unit in the case.
                  batchExpirationDate:
                    type: string
                    format: date
                    description: Date upon which a product's COA has lapsed; re-testing or destruction
                      is required at this point
                  skuBatchLastUpdatedDate:
                    type: string
                    format: date
                    description: Most recent date upon which sku batch details were adjusted
                  batchManufacturingDate:
                    type: string
                    format: date
                    description: Date upon which batch was manufactured
                  batchLicenseNumber:
                    type: string
                    description: Batch License Number
                  skuInventoryType:
                    type: string
                    description: If the SKU is cannabis or non-cannabis
                  skuInventoryClass:
                    type: string
                    description: General classification of an SKU's characteristics (i.e., edible)
                  skuInventoryCategory:
                    type: string
                    description: Specific categorization of an SKU's characteristics (i.e., gummy, chocolate,
                      etc.)
                  batchCbdPercentage:
                    type: number
                    nullable: true
                    description: '% CBD value of batch'
                  batchThcPercentage:
                    type: number
                    nullable: true
                    description: '% THC value of batch'
                  batchThcWeight:
                    type: number
                    nullable: true
                    description: THC weight value (mg) of batch
                  batchCbdWeight:
                    type: number
                    nullable: true
                    description: CBD weight value (mg) of batch
                  skuStrainType:
                    type: string
                    nullable: true
                    description: Strain characteristics of inventory item
                  skuBatchId:
                    type: string
                    format: uuid
                    description: Nabis UUID identifier for sku + batch
                  skuCasePackSize:
                    type: number
                    description: The number of eaches in a case
                  skuTotalPrice:
                    type: number
                    description: The total price of the SKU (`skuPricePerUnit * skuCasePackSize`)
                  skuId:
                    type: string
                    format: uuid
                    description: Nabis UUID identifier for the product
                  availableOnMarketplace:
                    type: boolean
                    description: Indicates whether the item is available for purchase on the Nabis Marketplace
                  deletedAt:
                    type: string
                    nullable: true
                    description: The deleted at timestamp indicating the product has been deleted from
                      the Nabis system. If null, the product is active.
                  isMedical:
                    type: boolean
                    description: Indicates if the item is marked as a medical product in the Nabis system.
                  licenseNickname:
                    type: string
                    description: The nickname associated to the license that is associated to the SKU
                  batchThcAPercentage:
                    type: number
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  batchThcAWeight:
                    type: number
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  batchOtherCannabinoidWeight:
                    type: number
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  batchOtherCannabinoidPercentage:
                    type: number
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  batchTags:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  batchAromas:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuIsSample:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuTags:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuBatchDaysAtNabis:
                    type: number
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  avgWeeklyQuantityOrderedPast4Weeks:
                    type: number
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  avgWeeklyQuantityDeliveredPast4Weeks:
                    type: number
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuDisplayName:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuProductLine:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuBrandName:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuUnitsPerEach:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuConsumableUnitsPerEach:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuEachUnitOfMeasure:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuThcPotencyMeasurementType:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuContainerType:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuIsColdStorage:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuTHC:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
                      compatibility.
                  skuCBD:
                    type: string
                    description: Field does not exist in NY system. Always returns empty array for CA
[...]
