openapi: 3.2.0
info:
  title: Platform NY Warehouse API
  description: Welcome to the Nabis Platform API
  version: '2.0'
  contact:
    email: help@nabis.com
  x-source-note: Reassembled verbatim from the per-operation OpenAPI objects Nabis publishes in the build assets of developers.nabis.com/v2 (docusaurus-plugin-openapi-docs frontmatter). Nabis serves no single openapi.json/yaml file; every field here — paths, operationIds, parameters, response schemas, servers, securitySchemes, info — is the provider's own published spec content, not authored by API Evangelist.
servers:
- url: https://platform-api.nabis.pro
  description: Nabis Platform API v2 production host
security:
- x-nabis-access-token: []
tags:
- name: NYWarehouse
paths:
  /v2/ny/warehouses:
    get:
      operationId: NYWarehouseController_getNyWarehouses
      description: Please reach out to partnerships@nabis.com for information on API access.
      tags:
      - NYWarehouse
      parameters: []
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Warehouse ID
                    format: uuid
                  name:
                    type: string
                    description: Warehouse Name
                  region:
                    type: string
                    description: Warehouse Region
                    example: SOUTHERN_CALIFORNIA
                required:
                - id
                - name
                - region
        '401':
          description: Invalid API key
        '429':
          description: Too Many Requests
      security:
      - x-nabis-access-token: []
components:
  securitySchemes:
    x-nabis-access-token:
      type: apiKey
      in: header
      name: x-nabis-access-token
