openapi: 3.2.0
info:
  title: Platform Nabis Days Off API
  description: Welcome to the Nabis Platform API
  version: '2.0'
  contact:
    email: help@nabis.com
  x-source-note: Reassembled verbatim from the per-operation OpenAPI objects Nabis publishes in the build assets of developers.nabis.com/v2 (docusaurus-plugin-openapi-docs frontmatter). Nabis serves no single openapi.json/yaml file; every field here — paths, operationIds, parameters, response schemas, servers, securitySchemes, info — is the provider's own published spec content, not authored by API Evangelist.
servers:
- url: https://platform-api.nabis.pro
  description: Nabis Platform API v2 production host
security:
- x-nabis-access-token: []
tags:
- name: NabisDaysOff
paths:
  /v2/nabis-days-off:
    get:
      operationId: NabisDaysOffController_getNabisDaysOff
      description: Get Nabis Days Off
      tags:
      - NabisDaysOff
      parameters: []
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  date:
                    type: string
                    description: Date of day off in `yyyy-mm-dd` format
                  description:
                    type: string
                    description: Description of day off. Ex. `Next year's Independence Day`
                required:
                - date
                - description
        '401':
          description: Invalid API key
        '429':
          description: Too Many Requests
      security:
      - x-nabis-access-token: []
components:
  securitySchemes:
    x-nabis-access-token:
      type: apiKey
      in: header
      name: x-nabis-access-token
