openapi: 3.2.0
info:
  title: Platform Retailer API
  description: Welcome to the Nabis Platform API
  version: '2.0'
  contact:
    email: help@nabis.com
  x-source-note: Reassembled verbatim from the per-operation OpenAPI objects Nabis publishes in the build assets of developers.nabis.com/v2 (docusaurus-plugin-openapi-docs frontmatter). Nabis serves no single openapi.json/yaml file; every field here — paths, operationIds, parameters, response schemas, servers, securitySchemes, info — is the provider's own published spec content, not authored by API Evangelist.
servers:
- url: https://platform-api.nabis.pro
  description: Nabis Platform API v2 production host
security:
- x-nabis-access-token: []
tags:
- name: Retailer
paths:
  /v2/retailer:
    get:
      operationId: RetailerController_getRetailers
      description: Get Many Retailers (CA)
      tags:
      - Retailer
      parameters:
      - name: isOnMarketplace
        required: false
        in: query
        description: Filter by whether or not the retailer is on the Nabis marketplace
        schema:
          type: boolean
      - name: page
        required: true
        in: query
        schema:
          default: 0
          type: number
      - name: limit
        required: true
        in: query
        schema:
          minimum: 1
          maximum: 500
          type: number
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    description: System-generated UUID to identify retailer
                  parentOrganizationId:
                    type:
                    - string
                    - 'null'
                    description: Name of retailer parent organization
                  name:
                    type: string
                    description: The name of the retailer
                  doingBusinessAs:
                    type:
                    - string
                    - 'null'
                    description: The doing business as name of the retailer
                  parentOrganizationName:
                    type:
                    - string
                    - 'null'
                    description: Name of retailer parent organization
                  address1:
                    type: string
                    description: The first line of the address for the retailer
                  address2:
                    type:
                    - string
                    - 'null'
                    description: The second line of the address for the retailer
                  city:
                    type: string
                    description: The city of the retailer
                  state:
                    type: string
                    description: The US state of the retailer
                  zip:
                    type: string
                    description: The zipcode of the retailer
                  sellerPermitLink:
                    type:
                    - string
                    - 'null'
                    description: A URL to the retailer's seller permit
                  territoryRegionNumber:
                    type:
                    - number
                    - 'null'
                    format: number
                    description: The territory region number of the retailer
                  territoryDescription:
                    type:
                    - string
                    - 'null'
                    description: The territory region name of the retailer
                  isOnMarketplace:
                    type: boolean
                    description: Whether or not the retailer is on the marketplace
                  creditRating:
                    type: string
                    enum:
                    - EXCELLENT
                    - GOOD
                    - FAIR
                    - WEAK
                    - POOR
                    - NOT_APPLICABLE
                    description: Credit rating of the retailer
                  previousCreditRating:
                    type: string
                    enum:
                    - EXCELLENT
                    - GOOD
                    - FAIR
                    - WEAK
                    - POOR
                    - NOT_APPLICABLE
                    description: Previous credit rating of the retailer
                  previousCreditRatingDate:
                    type: string
                    description: Previous credit rating date of the retailer
                required:
                - id
                - parentOrganizationId
                - name
                - doingBusinessAs
                - parentOrganizationName
                - address1
                - address2
                - city
                - state
                - zip
                - sellerPermitLink
                - territoryRegionNumber
                - territoryDescription
                - isOnMarketplace
                - creditRating
                - previousCreditRating
                - previousCreditRatingDate
        '401':
          description: Invalid API key
        '429':
          description: Too Many Requests
      security:
      - x-nabis-access-token: []
  /v2/retailer/{id}:
    get:
      operationId: RetailerController_getRetailer
      description: Get Retailer by Nabis ID (CA)
      tags:
      - Retailer
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    description: System-generated UUID to identify retailer
                  parentOrganizationId:
                    type:
                    - string
                    - 'null'
                    description: Name of retailer parent organization
                  name:
                    type: string
                    description: The name of the retailer
                  doingBusinessAs:
                    type:
                    - string
                    - 'null'
                    description: The doing business as name of the retailer
                  parentOrganizationName:
                    type:
                    - string
                    - 'null'
                    description: Name of retailer parent organization
                  address1:
                    type: string
                    description: The first line of the address for the retailer
                  address2:
                    type:
                    - string
                    - 'null'
                    description: The second line of the address for the retailer
                  city:
                    type: string
                    description: The city of the retailer
                  state:
                    type: string
                    description: The US state of the retailer
                  zip:
                    type: string
                    description: The zipcode of the retailer
                  sellerPermitLink:
                    type:
                    - string
                    - 'null'
                    description: A URL to the retailer's seller permit
                  territoryRegionNumber:
                    type:
                    - number
                    - 'null'
                    format: number
                    description: The territory region number of the retailer
                  territoryDescription:
                    type:
                    - string
                    - 'null'
                    description: The territory region name of the retailer
                  isOnMarketplace:
                    type: boolean
                    description: Whether or not the retailer is on the marketplace
                  creditRating:
                    type: string
                    enum:
                    - EXCELLENT
                    - GOOD
                    - FAIR
                    - WEAK
                    - POOR
                    - NOT_APPLICABLE
                    description: Credit rating of the retailer
                  previousCreditRating:
                    type: string
                    enum:
                    - EXCELLENT
                    - GOOD
                    - FAIR
                    - WEAK
                    - POOR
                    - NOT_APPLICABLE
                    description: Previous credit rating of the retailer
                  previousCreditRatingDate:
                    type: string
                    description: Previous credit rating date of the retailer
                  taxIdentificationNumber:
                    type:
                    - string
                    - 'null'
                    description: The tax ID number of the retailer
                  w9Link:
                    type:
                    - string
                    - 'null'
                    description: '-'
                  isArchived:
                    type: boolean
                    description: Whether or not the retailer is archived
                  licenses:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          description: System-generated UUID to identify license
                        type:
                          type: string
                          enum:
                          - RETAILER_NONSTOREFRONT
                          - TESTING
                          - MICROBUSINESS
                          - RETAILER
                          - CULTIVATOR
                          - CANNABIS_EVENTS
                          - MANUFACTURER
                          - DISTRIBUTOR
                          - DISTRIBUTOR_TRANSPORT_ONLY
                          description: The type of license
                        number:
                          type: string
                          description: The license number
                        issuanceDate:
                          type: string
                          format: date
                          example: '2022-04-20'
                          description: The issuance date of the license
                        expirationDate:
                          type: string
                          format: date
                          example: '2022-04-20'
                          description: The expiration date of the license
                      required:
                      - id
                      - type
                      - number
                      - issuanceDate
                      - expirationDate
                required:
                - id
                - parentOrganizationId
                - name
                - doingBusinessAs
                - parentOrganizationName
                - address1
                - address2
                - city
                - state
                - zip
                - sellerPermitLink
                - territoryRegionNumber
                - territoryDescription
                - isOnMarketplace
                - creditRating
                - previousCreditRating
                - previousCreditRatingDate
                - taxIdentificationNumber
                - w9Link
                - isArchived
                - licenses
        '401':
          description: Invalid API key
        '429':
          description: Too Many Requests
      security:
      - x-nabis-access-token: []
components:
  securitySchemes:
    x-nabis-access-token:
      type: apiKey
      in: header
      name: x-nabis-access-token
