openapi: 3.2.0
info:
  title: Platform NY Order API
  description: Welcome to the Nabis Platform API
  version: '2.0'
  contact:
    email: help@nabis.com
  x-source-note: Reassembled verbatim from the per-operation OpenAPI objects Nabis publishes in the build assets of developers.nabis.com/v2 (docusaurus-plugin-openapi-docs frontmatter). Nabis serves no single openapi.json/yaml file; every field here — paths, operationIds, parameters, response schemas, servers, securitySchemes, info — is the provider's own published spec content, not authored by API Evangelist.
servers:
- url: https://platform-api.nabis.pro
  description: Nabis Platform API v2 production host
security:
- x-nabis-access-token: []
tags:
- name: NY Order
paths:
  /v2/ny/order:
    get:
      operationId: NYOrderController_getNyOrders
      description: Please reach out to partnerships@nabis.com for information on API access.
      tags:
      - NY Order
      parameters:
      - name: action
        required: false
        in: query
        description: Order Action
        schema:
          enum:
          - DELIVERY_TO_BRAND
          - DELIVERY_TO_RETAILER
          - DROPOFF_TO_NABIS
          - INTERNAL_TRANSFER
          - PICKUP_FROM_BRAND
          - PICKUP_FROM_NABIS
          type: string
      - name: status
        required: false
        in: query
        description: Order Status
        schema:
          enum:
          - ATTEMPTED
          - CANCELLED
          - DELAYED
          - DELIVERED
          - DELIVERED_WITH_EDITS
          - IN_TRANSIT
          - REJECTED
          - SCHEDULED
          - TRANSFERRING
          - UNSCHEDULED
          type: string
      - name: referrer
        required: false
        in: query
        description: Order Referrer
        schema:
          enum:
          - BRAND
          - RETAILER
          type: string
      - name: warehouseId
        required: false
        in: query
        description: Order Warehouse
        schema:
          format: uuid
          type: string
      - name: page
        required: true
        in: query
        schema:
          default: 0
          type: number
      - name: limit
        required: true
        in: query
        schema:
          minimum: 1
          maximum: 500
          type: number
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    description: System-generated UUID to identify order
                  deliveryDate:
                    type: string
                    format: date
                    description: Date upon which order is delivered
                  createdDate:
                    type: string
                    format: date
                    description: Date upon which order is submitted/created
                  createdTimestamp:
                    type: string
                    format: date-time
                    description: Timestamp upon which order is submitted/created
                  updatedDate:
                    type: string
                    format: date
                    description: Date upon which order is updated
                  updatedTimestamp:
                    type: string
                    format: date-time
                    description: Timestamp upon which order is updated
                  order:
                    type: string
                    description: System-generated numeric ID for order
                    example: '12345'
                  lineItemId:
                    type: string
                    description: Unique ID of each line-item on order
                  orderAction:
                    type: string
                    description: Label of order that describes the type of movement that is occurring
                  status:
                    type: string
                    description: Description of the delivery status of an order; "completed" orders have status of 'Delivered' or 'Delivered With Edits'
                  creator:
                    type: string
                    description: Email address of user that submitted order
                  retailer:
                    type: string
                    description: Name of order destination
                  siteAddress:
                    type: string
                    description: Address of order destination
                  siteLicenseNumber:
                    type: string
                    description: License number of order destination
                  sourceWarehouse:
                    type: string
                    format: uuid
                    description: Nabis warehouse of origination
                  orderSubtotal:
                    type: number
                    description: $ Subtotal of the Gross Merchandise Value of order (equals sum of all line-item subtotal).
                  creditMemo:
                    type:
                    - number
                    - 'null'
                    description: The total credit memo amount applied to this order. Credit memos are always scoped to a specific order and cannot exist independently — they are created and applied in the context of a single order. This value may change if the credit memo is modified after initial application.
                  skuCode:
                    type: string
                    description: Brand-input code for inventory item, typically used for internal brand system mapping
                  units:
                    type:
                    - number
                    - 'null'
                    description: Number of units per line-item on order
                  pricePerUnit:
                    type: number
                    description: Line-Item price per unit $ value on order
                  lineItemSubtotal:
                    type:
                    - number
                    - 'null'
                    description: Subtotal gross $ amount for a line item (equals order_line_item.quantity * order_line_item.price_per_unit)
                  taxInclusiveLineItemSubtotal:
                    type: number
                    description: The tax inclusive subtotal for the line item
                  lineItemUpdatedAt:
                    type: string
                    format: date-time
                    description: Most recent date upon which line item details were adjusted
                  batchNumber:
                    type: string
                    description: Brand-input value for a batch to identify and trace items that share characteristics of production
                  batchExpiration:
                    type: string
                    format: date-time
                    description: Date upon which a product's COA has lapsed; re-testing or destruction is required at this point
                  inventoryCategory:
                    type: string
                    description: Specific categorization of an item's characteristics (i.e., gummy, chocolate, etc.)
                  inventoryClass:
                    type: string
                    description: General classification of an item's characteristics (i.e., edible)
                  inventoryType:
                    type: string
                    description: If the item is cannabis or non-cannabis
                  skuIsArchived:
                    type: boolean
                    description: If the line-item is archived
                  exciseTax:
                    type: number
                    description: $ Amount of the Excise Tax the line item incurred from the sale of cannabis products
                  paymentStatus:
                    type:
                    - string
                    - 'null'
                    description: Description of the payment status of an order; subject to change due to returned payments, payment application changes initiated by the brand or retailer, or post-payment order modifications affecting pricing, discounts, or credits.
                  notes:
                    type:
                    - string
                    - 'null'
                    description: Brand-input notes regarding delivery instructions / requirements
                  manifest:
                    type:
                    - string
                    - 'null'
                    description: URL for order PDF documentation
                  retailerId:
                    type: string
                    format: uuid
                    description: System-generated unique ID of order destination
                  pocName:
                    type: string
                    description: First contact name (use pocContacts array for all contacts)
                  pocEmail:
                    type:
                    - string
                    - 'null'
                    description: First contact email (use pocContacts array for all contacts)
                  pocPhoneNumber:
                    type: string
                    description: First contact phone (use pocContacts array for all contacts)
                  paymentTerms:
                    type:
                    - string
                    - 'null'
                    description: Terms indicating the number of days past delivery date when payment is due
                  skuBatchId:
                    type: string
                    format: uuid
                    description: System-generated UUID for SkuBatch identifier
                  brandName:
                    type: string
                    description: Brand Name
                  batchThcPercentage:
                    type: number
                    description: '% THC value of batch'
                  skuStrainType:
                    type: string
                    description: Strain characteristics of inventory item
                  siteCity:
                    type: string
                    description: City of delivery destination
                  siteZip:
                    type: string
                    description: Zip Code of delivery destination
                  orderTotal:
                    type: number
                    description: Order Total $ Amount of Merchandise Value after all trade spend.
                  wholesaleValue:
                    type: number
                    description: Total order wholesale $ amount across all line items (equals Sum of all Line Item Wholesale Value)
                  lineItemWholesaleValue:
                    type: number
                    description: The wholesale $ value for a line item (equals Number of Units x Standard Price Per Unit)
                  skuName:
                    type: string
                    description: The name of the SKU
                  skuCasePackSize:
                    type: number
                    description: The number of eaches the SKU is sold by
                  skuTotalPrice:
                    type: number
                    description: The total price of the SKU (`skuPricePerUnit * skuCasePackSize`)
                  skuPricePerUnit:
                    type: number
                    description: The unit price of each unit in the case.
                  posoNumber:
                    type:
                    - string
                    - 'null'
                    description: Brand-input value reflecting internal brand system ID to identify corresponding Nabis order
                  unitDescription:
                    type:
                    - string
                    - 'null'
                    description: Description of the item's unit characteristics (i.e., 6-pack)
                  subtotalCollected:
                    type:
                    - number
                    - 'null'
                    description: $ amount collected for order (typically from partial payments).
                  orderTaxAmount:
                    type:
                    - number
                    - 'null'
                    description: $ Amount of the total Excise Tax of order incurred from the sale of cannabis products
                  invoiceDueDate:
                    type:
                    - number
                    - 'null'
                    description: Invoice due date
                  sample:
                    type: boolean
                    description: If the line-item is marked as a sample on order
                  organization:
                    type: string
                    description: Name of Brand organization
                  pocContacts:
                    description: Array of all point of contact details for the order. Null if order has no contacts.
                    type:
                    - array
                    - 'null'
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Full name of the contact (first + last)
                        phone:
                          type: string
                          description: Phone number of the contact
                        email:
                          type:
                          - string
                          - 'null'
                          description: Email address of the contact
                      required:
                      - name
                      - phone
                      - email
                  paidAt:
                    type:
                    - string
                    - 'null'
                    format: date
                    description: Date upon which order was paid; subject to change due to returned payments, payment application changes initiated by the brand or retailer, or post-payment order modifications affecting pricing, discounts, or credits.
                  soldBy:
                    type:
                    - string
                    - 'null'
                    description: The email address of the sales representative assigned to the order
                  lineItemDiscount:
                    type:
                    - number
                    - 'null'
                    description: $ Amount of discount applied on a per line-item level
                  orderDiscount:
                    type:
                    - number
                    - 'null'
                    description: $ Amount of order-level discount reducing overall order $ amount (related to the specific order/transaction)
                  orderName:
                    type: string
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  retailerParentOrganization:
                    type:
                    - string
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  manufacturerLicenseNumber:
                    type:
                    - string
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  titleholderLicenseNumber:
                    type:
                    - string
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  surcharge:
                    type:
                    - number
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  strain:
                    type:
                    - string
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  standardPricePerUnit:
                    type:
                    - number
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  lineItemNotes:
                    type:
                    - string
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  daysTillPaymentDue:
                    type:
                    - number
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  remittedAt:
                    type:
                    - string
                    - 'null'
                    format: date-time
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  retailerParentOrganizationId:
                    type:
                    - string
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  fromMarketplace:
                    type:
                    - string
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  isSampleDemo:
                    type:
                    - string
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  orderInventoryStatus:
                    type:
                    - string
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  batchAromas:
                    type: string
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  batchTags:
                    type: string
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  batchThcAPercentage:
                    type:
                    - number
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  retailerCreditRating:
                    type:
                    - string
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  lineItemSubtotalAfterDiscount:
                    type:
                    - number
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  lineItemPricePerUnitAfterDiscount:
                    type:
                    - number
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  lineItemPriceDifference:
                    type:
                    - number
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  orderTsPerLine:
                    type:
                    - number
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  totalTsPerLine:
                    type:
                    - number
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  priceReduction:
                    type:
                    - number
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  skuDisplayName:
                    type:
                    - string
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  skuTags:
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                    type: array
                    items:
                      type: string
                  mustPayPriorBalance:
                    type:
                    - string
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  nabisNotes:
                    type:
                    - string
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  lastNonPaymentDate:
                    type:
                    - string
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  lastNonPaymentReason:
                    type:
                    - string
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                required:
                - id
                - deliveryDate
                - createdDate
                - createdTimestamp
                - updatedDate
                - updatedTimestamp
                - order
                - lineItemId
                - orderAction
                - status
                - creator
                - retailer
                - siteAddress
                - siteLicenseNumber
                - sourceWarehouse
                - orderSubtotal
                - creditMemo
                - skuCode
                - units
                - pricePerUnit
                - lineItemSubtotal
                - taxInclusiveLineItemSubtotal
                - lineItemUpdatedAt
                - batchNumber
                - batchExpiration
                - inventoryCategory
                - inventoryClass
                - inventoryType
                - skuIsArchived
                - exciseTax
                - paymentStatus
                - notes
                - manifest
                - retailerId
                - pocName
                - pocEmail
                - pocPhoneNumber
                - paymentTerms
                - skuBatchId
                - brandName
                - batchThcPercentage
                - skuStrainType
                - siteCity
                - siteZip
                - orderTotal
                - wholesaleValue
                - lineItemWholesaleValue
                - skuName
                - skuCasePackSize
                - skuTotalPrice
                - skuPricePerUnit
                - posoNumber
                - unitDescription
                - subtotalCollected
                - orderTaxAmount
                - invoiceDueDate
                - sample
                - organization
                - pocContacts
                - paidAt
                - soldBy
                - lineItemDiscount
                - orderDiscount
                - orderName
                - retailerParentOrganization
                - manufacturerLicenseNumber
                - titleholderLicenseNumber
                - surcharge
                - strain
                - standardPricePerUnit
                - lineItemNotes
                - daysTillPaymentDue
                - remittedAt
                - retailerParentOrganizationId
                - fromMarketplace
                - isSampleDemo
                - orderInventoryStatus
                - batchAromas
                - batchTags
                - batchThcAPercentage
                - retailerCreditRating
                - lineItemSubtotalAfterDiscount
                - lineItemPricePerUnitAfterDiscount
                - lineItemPriceDifference
                - orderTsPerLine
                - totalTsPerLine
                - priceReduction
                - skuDisplayName
                - skuTags
                - mustPayPriorBalance
                - nabisNotes
                - lastNonPaymentDate
                - lastNonPaymentReason
        '400':
          description: Bad Request Exception
        '401':
          description: Invalid API key
        '429':
          description: Too Many Requests
      security:
      - x-nabis-access-token: []
  /v2/ny/order/{id}:
    get:
      operationId: NYOrderController_getNyOrder
      description: Please reach out to partnerships@nabis.com for information on API access.
      tags:
      - NY Order
      parameters:
      - name: id
        required: true
        in: path
        schema:
          type: string
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    description: System-generated UUID to identify order
                  deliveryDate:
                    type: string
                    format: date
                    description: Date upon which order is delivered
                  createdDate:
                    type: string
                    format: date
                    description: Date upon which order is submitted/created
                  createdTimestamp:
                    type: string
                    format: date-time
                    description: Timestamp upon which order is submitted/created
                  updatedDate:
                    type: string
                    format: date
                    description: Date upon which order is updated
                  updatedTimestamp:
                    type: string
                    format: date-time
                    description: Timestamp upon which order is updated
                  order:
                    type: string
                    description: System-generated numeric ID for order
                    example: '12345'
                  lineItemId:
                    type: string
                    description: Unique ID of each line-item on order
                  orderAction:
                    type: string
                    description: Label of order that describes the type of movement that is occurring
                  status:
                    type: string
                    description: Description of the delivery status of an order; "completed" orders have status of 'Delivered' or 'Delivered With Edits'
                  creator:
                    type: string
                    description: Email address of user that submitted order
                  retailer:
                    type: string
                    description: Name of order destination
                  siteAddress:
                    type: string
                    description: Address of order destination
                  siteLicenseNumber:
                    type: string
                    description: License number of order destination
                  sourceWarehouse:
                    type: string
                    format: uuid
                    description: Nabis warehouse of origination
                  orderSubtotal:
                    type: number
                    description: $ Subtotal of the Gross Merchandise Value of order (equals sum of all line-item subtotal).
                  creditMemo:
                    type:
                    - number
                    - 'null'
                    description: The total credit memo amount applied to this order. Credit memos are always scoped to a specific order and cannot exist independently — they are created and applied in the context of a single order. This value may change if the credit memo is modified after initial application.
                  skuCode:
                    type: string
                    description: Brand-input code for inventory item, typically used for internal brand system mapping
                  units:
                    type:
                    - number
                    - 'null'
                    description: Number of units per line-item on order
                  pricePerUnit:
                    type: number
                    description: Line-Item price per unit $ value on order
                  lineItemSubtotal:
                    type:
                    - number
                    - 'null'
                    description: Subtotal gross $ amount for a line item (equals order_line_item.quantity * order_line_item.price_per_unit)
                  taxInclusiveLineItemSubtotal:
                    type: number
                    description: The tax inclusive subtotal for the line item
                  lineItemUpdatedAt:
                    type: string
                    format: date-time
                    description: Most recent date upon which line item details were adjusted
                  batchNumber:
                    type: string
                    description: Brand-input value for a batch to identify and trace items that share characteristics of production
                  batchExpiration:
                    type: string
                    format: date-time
                    description: Date upon which a product's COA has lapsed; re-testing or destruction is required at this point
                  inventoryCategory:
                    type: string
                    description: Specific categorization of an item's characteristics (i.e., gummy, chocolate, etc.)
                  inventoryClass:
                    type: string
                    description: General classification of an item's characteristics (i.e., edible)
                  inventoryType:
                    type: string
                    description: If the item is cannabis or non-cannabis
                  skuIsArchived:
                    type: boolean
                    description: If the line-item is archived
                  exciseTax:
                    type: number
                    description: $ Amount of the Excise Tax the line item incurred from the sale of cannabis products
                  paymentStatus:
                    type:
                    - string
                    - 'null'
                    description: Description of the payment status of an order; subject to change due to returned payments, payment application changes initiated by the brand or retailer, or post-payment order modifications affecting pricing, discounts, or credits.
                  notes:
                    type:
                    - string
                    - 'null'
                    description: Brand-input notes regarding delivery instructions / requirements
                  manifest:
                    type:
                    - string
                    - 'null'
                    description: URL for order PDF documentation
                  retailerId:
                    type: string
                    format: uuid
                    description: System-generated unique ID of order destination
                  pocName:
                    type: string
                    description: First contact name (use pocContacts array for all contacts)
                  pocEmail:
                    type:
                    - string
                    - 'null'
                    description: First contact email (use pocContacts array for all contacts)
                  pocPhoneNumber:
                    type: string
                    description: First contact phone (use pocContacts array for all contacts)
                  paymentTerms:
                    type:
                    - string
                    - 'null'
                    description: Terms indicating the number of days past delivery date when payment is due
                  skuBatchId:
                    type: string
                    format: uuid
                    description: System-generated UUID for SkuBatch identifier
                  brandName:
                    type: string
                    description: Brand Name
                  batchThcPercentage:
                    type: number
                    description: '% THC value of batch'
                  skuStrainType:
                    type: string
                    description: Strain characteristics of inventory item
                  siteCity:
                    type: string
                    description: City of delivery destination
                  siteZip:
                    type: string
                    description: Zip Code of delivery destination
                  orderTotal:
                    type: number
                    description: Order Total $ Amount of Merchandise Value after all trade spend.
                  wholesaleValue:
                    type: number
                    description: Total order wholesale $ amount across all line items (equals Sum of all Line Item Wholesale Value)
                  lineItemWholesaleValue:
                    type: number
                    description: The wholesale $ value for a line item (equals Number of Units x Standard Price Per Unit)
                  skuName:
                    type: string
                    description: The name of the SKU
                  skuCasePackSize:
                    type: number
                    description: The number of eaches the SKU is sold by
                  skuTotalPrice:
                    type: number
                    description: The total price of the SKU (`skuPricePerUnit * skuCasePackSize`)
                  skuPricePerUnit:
                    type: number
                    description: The unit price of each unit in the case.
                  posoNumber:
                    type:
                    - string
                    - 'null'
                    description: Brand-input value reflecting internal brand system ID to identify corresponding Nabis order
                  unitDescription:
                    type:
                    - string
                    - 'null'
                    description: Description of the item's unit characteristics (i.e., 6-pack)
                  subtotalCollected:
                    type:
                    - number
                    - 'null'
                    description: $ amount collected for order (typically from partial payments).
                  orderTaxAmount:
                    type:
                    - number
                    - 'null'
                    description: $ Amount of the total Excise Tax of order incurred from the sale of cannabis products
                  invoiceDueDate:
                    type:
                    - number
                    - 'null'
                    description: Invoice due date
                  sample:
                    type: boolean
                    description: If the line-item is marked as a sample on order
                  organization:
                    type: string
                    description: Name of Brand organization
                  pocContacts:
                    description: Array of all point of contact details for the order. Null if order has no contacts.
                    type:
                    - array
                    - 'null'
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Full name of the contact (first + last)
                        phone:
                          type: string
                          description: Phone number of the contact
                        email:
                          type:
                          - string
                          - 'null'
                          description: Email address of the contact
                      required:
                      - name
                      - phone
                      - email
                  paidAt:
                    type:
                    - string
                    - 'null'
                    format: date
                    description: Date upon which order was paid; subject to change due to returned payments, payment application changes initiated by the brand or retailer, or post-payment order modifications affecting pricing, discounts, or credits.
                  soldBy:
                    type:
                    - string
                    - 'null'
                    description: The email address of the sales representative assigned to the order
                  lineItemDiscount:
                    type:
                    - number
                    - 'null'
                    description: $ Amount of discount applied on a per line-item level
                  orderDiscount:
                    type:
                    - number
                    - 'null'
                    description: $ Amount of order-level discount reducing overall order $ amount (related to the specific order/transaction)
                  orderName:
                    type: string
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  retailerParentOrganization:
                    type:
                    - string
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  manufacturerLicenseNumber:
                    type:
                    - string
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  titleholderLicenseNumber:
                    type:
                    - string
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  surcharge:
                    type:
                    - number
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  strain:
                    type:
                    - string
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  standardPricePerUnit:
                    type:
                    - number
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  lineItemNotes:
                    type:
                    - string
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  daysTillPaymentDue:
                    type:
                    - number
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  remittedAt:
                    type:
                    - string
                    - 'null'
                    format: date-time
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  retailerParentOrganizationId:
                    type:
                    - string
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  fromMarketplace:
                    type:
                    - string
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  isSampleDemo:
                    type:
                    - string
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  orderInventoryStatus:
                    type:
                    - string
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  batchAromas:
                    type: string
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  batchTags:
                    type: string
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  batchThcAPercentage:
                    type:
                    - number
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  retailerCreditRating:
                    type:
                    - string
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  lineItemSubtotalAfterDiscount:
                    type:
                    - number
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  lineItemPricePerUnitAfterDiscount:
                    type:
                    - number
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  lineItemPriceDifference:
                    type:
                    - number
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  orderTsPerLine:
                    type:
                    - number
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  totalTsPerLine:
                    type:
                    - number
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  priceReduction:
                    type:
                    - number
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  skuDisplayName:
                    type:
                    - string
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  skuTags:
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                    type: array
                    items:
                      type: string
                  mustPayPriorBalance:
                    type:
                    - string
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  nabisNotes:
                    type:
                    - string
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  lastNonPaymentDate:
                    type:
                    - string
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                  lastNonPaymentReason:
                    type:
                    - string
                    - 'null'
                    description: Field retained for CA compatibility. Always `null` in V2 (NY) platform.
                required:
                - id
                - deliveryDate
                - createdDate
                - createdTimestamp
                - updatedDate
                - updatedTimestamp
                - order
                - lineItemId
                - orderAction
                - status
                - creator
                - retailer
                - siteAddress
                - siteLicenseNumber
                - sourceWarehouse
                - orderSubtotal
                - creditMemo
                - skuCode
                - units
                - pricePerUnit
                - lineItemSubtotal
                - taxInclusiveLineItemSubtotal
                - lineItemUpdatedAt
                - batchNumber
                - batchExpiration
                - inventoryCategory
                - inventoryClass
                - inventoryType
                - skuIsArchived
                - exciseTax
                - paymentStatus
                - notes
                - manifest
                - retailerId
                - pocName
                - pocEmail
                - pocPhoneNumber
                - paymentTerms
                - skuBatchId
                - brandName
                - batchThcPercentage
                - skuStrainType
                - siteCity
                - siteZip
                - orderTotal
                - wholesaleValue
                - lineItemWholesaleValue
                - skuName
                - skuCasePackSize
                - skuTotalPrice
                - skuPricePerUnit
                - posoNumber
                - unitDescription
                - subtotalCollected
                - orderTaxAmount
                - invoiceDueDate
                - sample
                - organization
                - pocContacts
                - paidAt
                - soldBy
                - lineItemDiscount
                - orderDiscount
                - orderName
                - retailerParentOrganization
                - manufacturerLicenseNumber
                - titleholderLicenseNumber
                - surcharge
                - strain
                - standardPricePerUnit
                - lineItemNotes
                - daysTillPaymentDue
                - remittedAt
                - retailerParentOrganizationId
                - fromMarketplace
                - isSampleDemo
                - orderInventoryStatus
                - batchAromas
                - batchTags
                - batchThcAPercentage
                - retailerCreditRating
                - lineItemSubtotalAfterDiscount
                - lineItemPricePerUnitAfterDiscount
                - lineItemPriceDifference
                - orderTsPerLine
                - totalTsPerLine
                - priceReduction
                - skuDisplayName
                - skuTags
                - mustPayPriorBalance
                - nabisNotes
                - lastNonPaymentDate
                - lastNonPaymentReason
        '401':
          description: Invalid API key
        '404':
          description: Record not found
        '429':
          description: Too Many Requests
      security:
      - x-nabis-access-token: []
components:
  securitySchemes:
    x-nabis-access-token:
      type: apiKey
      in: header
      name: x-nabis-access-token
